[2017-10-06 16:54] dav-is opened #3 "SSR Content Doesn't Match Content on Client"
To Reproduce:
- Load page with javascript disabled
- In a new tab load page completely with Javascript

The pages are different. On the first page, there's a paragraph and the image missing.

Sort of related, [there's been changes to SSR in React 16](https://hackernoon.com/whats-new-with-server-side-rendering-in-react-16-9b0d78585d67). I don't know how much of that you've implemented already.

Thi

[2017-10-06 17:17] tirthbodawala commented on #3
Hi @dav-is thanks for reporting the updates regarding SSR in react 16. I am definitely going to address it today.
But regarding the issue "SSR content Doesn't Match Content on Client" well its Folding, its a provided feature with the framework very essential for SEO
Have a look at the following link:
https://seo-hacker.com/above-fold-affects-seo/
We need to only transmit data that is in view port

[2017-10-06 17:28] dav-is commented on #3
That’s an interesting concept I’ve never heard of. Makes sense, although it’s fairly obvious to the user that this is occurring. Maybe you should add more content to the example site so the users don’t notice the page change for seemingly no reason?

Also, search engines that do not support JavaScript can’t see the remainder of the page. Isn’t this one of the primary reasons SSR is used?

[2017-10-06 17:33] tirthbodawala commented on #3
@dav-is Most of the search engines does support loading deferred JavaScripts, Thus it will wait till the JavaScript mentioned at bottom of page is loaded, but that is not the case with all Search Engines. So the folding of content is optional. If its really important to the user, then it should not be folded.

But I wanted this framework to offer most of the SEO tools easily available for best per

[2017-10-06 17:41] tirthbodawala commented on #3
@dav-is I must agree the link you provided above is really helpful, I changed from render to Hydrate and the performance increased by 8%. That's a biggie. Thanks again. Will update master soon.

[2017-10-06 18:00] #3 closed

[2017-10-06 18:01] tirthbodawala commented on #3
@dav-is for full performance of PWA please check that you are running on HTTPS and HTTP2 protocol.

[2017-10-06 18:27] dav-is opened #4 "What's your opinion with CSS-in-JS?"
I'm not saying this needs CSS-in-JS, but I'm interested in your thoughts concerning it. Maybe it would make for a nice addition?

[2017-10-06 18:28] dav-is opened #5 "CSP Support"
I'm a strong advocate of [CSP](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP). I think it'd a great idea to implement it.

[2017-10-06 18:39] dav-is opened #6 "HSTS Support"
I think [HSTS](https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security) headers should be added by deafult when using `now`. They should be opt in (in production mode) otherwise.

[2017-10-06 18:42] dav-is opened #7 "Progressive Image loading"
I think this would be a useful feature if implemented correctly.

See: https://jmperezperez.com/medium-image-progressive-loading-placeholder/
https://medium.com/@evenchange4/reproducing-medium-style-progressive-image-loading-for-react-2e83bba0c608

[2017-10-06 18:47] dav-is opened #8 "Workbox.js"
It appears you are using custom service worker code? Maybe using [workbox.js](workboxjs.org) would make for a longer term solution as it is being actively maintained, so you wouldn't need to worry about it.

Also, don't take my many issues I've opened as disrespect. I appreciate the work you've done and think you've done a much better job than a lot of the other boilerplates.

Thanks,
Davis

[2017-10-06 19:37] dav-is opened #9 "Typescript/Flow Support"
Support the use of Typescript or Flow?

[2017-10-07 06:00] tirthbodawala commented on #7
Hi @dav-is
Checkout the https://react-pwa.now.sh for example of Progressive Image loading.
We have already implemented this feature. We have written an extended version of [srcset-loader](https://github.com/timse/srcset-loader)

We support WebP format as well.
We can also add lazy loading, but I shall leave it for user to decide or we can add it to other milestone.

[2017-10-07 06:00] #7 closed

[2017-10-07 06:02] dav-is commented on #7
Truly impressive!

[2017-10-07 06:19] tirthbodawala commented on #8
@dav-is I don't know if you understand, but your contribution is In-Valuable to the project. Informing about improvements is something we really really appreciate. Your name has been echoing in the office from past 2 days.
You are the Hero of knowledge @ Atyantik :)  Please keep up the great contribution.

[2017-10-07 07:01] tirthbodawala commented on #6
Hey @dav-is. thanks for the reference to hsts. We have enabled it by default for HTTPS sites. If some one does not indent to turn it on for some reason, we have added it to config file.

[code]

[2017-10-07 07:01] #6 closed

[2017-10-10 06:03] tirthbodawala opened #10 "Implement Webpack DLL plugin for faster builds"

[2017-10-10 06:36] tirthbodawala opened #11 "Event based server & client calls for proper event management."
Add event based app calling so end-developer can add events like,

Server:
onCompile
beforeStart
afterStart

Client:
onPageLoad
onRedirect

If anyone has more requirements please drop the events requirement here.

[2017-10-10 09:33] jhabdas commented on #10
Just spotted this issue and it raised an eyebrow. Would it be more astute to eat the pain rather than getting so low-level? I've made the suggestion in the past [Webpack is an Achilles‘ Heel](https://medium.com/@jhabdas/webpack-is-your-achilles-heel-d3cd80821a4f).

[2017-10-10 11:52] dav-is commented on #10
@jhabdas it seems your argument is that using Webpack is bad because of how long it takes to get it set up? Well in this case it’s built already and it adds several features already. There’s no need to put more time to try and get the same features in rollup.

[2017-10-10 12:21] tirthbodawala commented on #10
Hello @dav-is & @jhabdas I really appreciate the discussion. I stumbled upon a discussion here @ https://stackoverflow.com/questions/43219030/what-is-flat-bundling-and-why-is-rollup-better-at-this-than-webpack
The DLL is not a go yet, and I am open to switch bundling if its worth it. Just need few reviews and explanations.

Your inputs are always invaluable. Thanks again.

[2017-10-10 12:31] dav-is commented on #10
The point made in one of those responses that I agre with fully is that rollup is better for libraries while Webpack is better for apps.

[2017-10-11 11:01] jhabdas commented on #10
Sorry if linking to my post muddled my intention. Idea is to not use a DLL to improve the speed of webpack, but instead to let Webpack be slow so other options are more enticing. As @tirthbodawala points out this feature is not yet implemented.

WRT using one tool over another Rich Harris, dude who created Rollup, suggests using rollup for libs and webpack for apps as @dav-is suggested (lmk if you

[2017-10-11 11:30] tirthbodawala commented on #10
Thanks @jhabdas.
So you mean its better not to use DLL plugin at all and let it stay as it is, cause it gives more functionality and flexibility ?
Also do you have better solution for our problems of code-splitting and SSR, Instead of webpack? if yes I am reading your replies :)

At the end, what I want is a great framework for everyone with speed and usability. Don't want to slow down anyone.

Th

[2017-10-12 12:08] jhabdas commented on #10
I've lost a little bit of my pulse on the react space recently, but if I run across something I'll be sure to mention it. The reason I lifted the eyebrow was more because I saw the term `DLL` (which I associate with Windows-only) and less about optimizing performance. If it feels good do it. You've already done such an awesome job on this piece of work deck it out. You can always pull stuff later.

[2017-10-12 12:11] tirthbodawala commented on #10
@jhabdas Sure ill give it a try. Also we are writing a docs site for this boilerplate.
https://www.reactpwa.com. Do share your inputs. they are very valuable :)

[2017-10-12 12:21] jhabdas commented on #10
Just a couple of quick feedback items. You'll probably get some pretty good mileage creating a docs site using the following GH-pages compatible template (which includes a search feature):

Also, to sell the pill here are two resources which may help, one is mine:
https://julian.is/article/progressive-web-apps/
https://habd.as/telltale-signs-your-react-app-isnt-seo-friendly/

If you can make even

[2017-10-12 12:30] tirthbodawala commented on #10
That is very very helpful @jhabdas. Noted everything and going in the direction mentioned. Thanks again for your valuable time.

[2017-10-12 19:25] dav-is opened #13 "Page Transition Animations"
Find a lightweight way to implement simple page transitions like a fade

[2017-10-13 06:56] tirthbodawala commented on #13
Definitely @dav-is. Everybody likes a smooth transition, We will make sure we provide optional animation support while changing pages/urls.. You inputs and suggestion are always appreciated.

[2017-10-13 12:04] jhabdas commented on #13
Here's [how I do it](https://github.com/comfusion/after-dark/blob/master/layouts/partials/head/critical-theme.css#L18-L21) on [Hack Cabin](https://hackcabin.com) using keyframe animation.

[2017-10-13 14:12] dav-is commented on #13
The issue with your example of hack cabin is it doesn’t have an animation out. And it appears that site isn’t even a SPA so it wouldn’t be possible in that example. It’s not truly smooth. I’d recommend a different implementation such as the react transition group module.

[2017-10-13 14:31] dav-is commented on #13
Maybe http://maisano.github.io/react-router-transition/ would work nicely

[2017-10-13 17:34] dav-is opened #14 "Firebase Hosting and Functions Support"
Should be made to be relatively easy to deploy on Firebase without weighing down the overall boilerplate.

What needs to be done

- [ ] server.js needs to output **ssr only** and should not serve assets whatsoever (this can be a build parameter) this can be useful outside of Firebase if using a CDN
- [ ] server.js should return express app, but shouldn't be listening (this can be changed by develo

[2017-10-13 17:41] tirthbodawala commented on #14
@dav-is I was going to create a task for creating deployable docker image. That should do for most of the deployments now. Docker image + docker swarm + CI = high scalability and easy of deployments. What do you say? Does firebase have support for Docker Images?

[2017-10-13 17:45] dav-is commented on #14
I would compare [Firebase](firebase.google.com) more to `now`. The application isn't made aware of that sort of infrastructure. I've used docker in the past and like it quite a bit. I'd say support both as it's just a few extra config files and shouldn't bloat the bundles (I'm pretty sure this is how firebase works but I'm still researching).

[2017-10-14 06:31] tirthbodawala commented on #13
I agree with @jhabdas. It can be very minimal CSS transition/animation and developer can easily customize it. @dav-is The problem with any React Transition/Animation is it creates a copy of the rendered children and then displays it till the transition ends. Which is a very DOM heavy process.
Thus we would not include it directly in bolerplate and leave the decision to the developer.

Instead I am

[2017-10-16 07:48] tirthbodawala commented on #13
I have added a simple module which is configurable with simple CSS. Very light weight. I know we can still improve it and make it more configurable but I think this should solve the transition issue as of now.
Enhancements can be added to other mile-stones.

FYI @jhabdas & @dav-is, I hope you like it.

[2017-10-16 07:52] tirthbodawala commented on #8
@dav-is We have used our custom logic as we are proving more functionality than workbox.js at the moment, which include local caching, custom API request caching. I think we can find a workaround to include workbox.js in upcoming milestones. but as of now as I go through their documentation we have covered most of the part.

[2017-10-16 07:52] #8 closed

[2017-10-16 07:59] tirthbodawala commented on #10
@jhabdas We have dropped the idea to upgrade to webpack-dll. It not necessary as of now, shall re-open the issue if demanded by many others.

Thanks @jhabdas and @dav-is for your inputs.

[2017-10-16 07:59] #10 closed

[2017-10-16 08:30] jhabdas commented on #13
I appreciate the minimalism! The implementation looks simple and extensible. Very nice.

[2017-10-16 16:59] dav-is commented on #13
Page doesn't animate in on initial load

[2017-10-16 17:01] dav-is opened #17 "Progressive Image Loading Could be Refined"
The first image loaded that is small could be smaller. If you don't blur it you could probably get away with it being smaller, then blur it with CSS. That way you could also add a transition for a smooth unblur.

[2017-10-16 19:33] tirthbodawala commented on #17
@dav-is thanks for opening the issue, we already have the provision for that. If we add '?placeholder to any image we import, it will present us with very small version of it. Let me add this to my todo of examples.

Thanks

[2017-10-17 00:09] dav-is commented on #17
I’m worried you misunderstood. The placeholder images in your prior examples are blurred in the image, not CSS. And there is no Transition once the full image is loaded.

[2017-10-17 03:09] tirthbodawala commented on #17
@dav-is ohh I see.. absolutely a transition would be good and yes I added the wrong example, if one uses
‘’’
Import AbcImage from “./abc.png?sizes=100w+200w&lightweight”
‘’’

This will give you a really small version of image. So we will then implement a transition with css! That would be more UX friendly.

Will definitely implement that.

[2017-10-18 17:30] jhabdas commented on #13
@dav-is given this was closed by pr, maybe there's another bug which could be opened to pull against?

[2017-10-18 17:30] jhabdas commented on #17
Just gonna lob this in here as food for thought. https://images.guide/

[2017-10-18 17:57] tirthbodawala commented on #17
Thanks @jhabdas that is very helpful. Thank you so much

[2017-10-18 19:09] tirthbodawala commented on #13
@jhabdas I shall re-open the bug. :)

[2017-10-19 08:53] mrtysn opened #18 "Deployment to Heroku"
Can you include a section for Heroku deployment instructions?

[2017-10-19 10:20] mrtysn commented on #18
I was able to get production build working with this setup:

    "start": "node dist/server.js",
    "start-local": "cross-env NODE_ENV=development nodemon --exec babel-node --watch ./src/server.js --watch ./src/client.js --watch ./src/core --watch ./webpack ./src/server.js",
    "lint": "eslint --ignore-path .gitignore src webpack",
    "build": "cross-env NODE_ENV=production webpack -p --config

[2017-10-19 11:44] mrtysn commented on #18
When I add additional packages via yarn (i.e. yarn add semantic-ui-react styled-components), heroku rejects the build:

`Module not found: Error: Can't resolve 'semantic-ui-react' in '/tmp/build_36081507992b01d8e7e6d781af163fcf/src/app/components/header'`

However, it works locally, both in development and production mode

[2017-10-19 13:16] mrtysn opened #19 "Include CSS from node_modules"
I am trying to include a CSS file from node_modules, specifically at:

How would you properly import this? Currently, I am adding

`@import "~semantic-ui-css/semantic.min.css";`

to the top of styles.scss. It starts normally, but gives the error below when the page is loaded.

ERROR in ./node_modules/css-loader?{"modules":true,"localIdentName":"[local]","sourceMap":true,"minimize":false,"importLoa

[2017-10-19 18:33] tirthbodawala commented on #17
@dav-is @jhabdas check this PR and https://react-pwa.now.sh/progressive-image-rendering
for implementation of progressive image with lightweight, I might not have got it 100% right, but you guys can share examples where I can make it even better. :)

[2017-10-19 18:33] #17 closed

[2017-10-19 18:36] tirthbodawala commented on #19
@mrtysn I would copy the css file to libs in "src/resources/css/libs/semantic.min.css" all files in resources are imported via loaders and without modification of name i.e. localIdentName=[local] thus not changing its implementation. Then you can directly use the css classes in the application.

However I would recommend not to do that and use the css in component isolated whenever possible. This

[2017-10-19 18:40] tirthbodawala commented on #18
@mrtysn We create a bundle on local when you add packages please make sure you add it to devDependencies.
`yarn add semantic-ui-react --dev`
This makes sure that whenever the bundle is created it has the code included in it.

When you just add without "--dev" the bundle will depend on the node_modules folder to run it completely.

What we are trying to do here is build a single server.js file alre

[2017-10-19 18:42] dav-is commented on #13
This might be considered an issue in page transitions and the image component, but the split second before an image is loaded it takes up 0px, then suddenly it loads and shifts all the content. This could be solved by using progressive image loading everywhere, but not everyone will want to do that.

[2017-10-19 18:45] tirthbodawala commented on #13
@dav-is This issue is regarding Page Transition. I think you replied to wrong issue :)

[2017-10-19 18:47] tirthbodawala commented on #13
@dav-is I have moved the css from bottom of body to head section. This might cut 2 points from page speed but is more appropriate as animating the content on load was dependent on JS and many crawlers are not JS friendly thus rendering empty sections (waiting for animation)

I personally think rather than adding transitions on page load it should be on page transitions only.
Your views ?

[2017-10-19 18:53] dav-is commented on #13
Any critical CSS should be in the head regardless. If it’s in the body, you will get a flash of unstyled components. If you want the speed benefit here, I’d recommend CSS-in-JS. Which would put all the critical styles in the head and any styles that wouldn’t be used would be loaded when it’s needed.

As for Transition on load, I think you’re right. It should only be on page change, not the initial

[2017-10-19 18:55] dav-is commented on #4
I’ve been keeping an eye on https://github.com/callstack/linaria

Thoughts?

[2017-10-19 19:06] tirthbodawala commented on #4
@dav-is By CSS-in-JS i had the impression of using line-css with JS. By linaria we can write style and export it to external CSS files (which is very interesting). Are you looking for something like linaria ?

[2017-10-19 19:07] tirthbodawala commented on #13
@dav-is Thanks for your inputs. I shall continue your talk on CSS-inJS in the specified issue :)
PS: I implemented workbox-sw.js with a small trade-off of API cache. But I shall customize it soon. Thanks for the suggestion.

[2017-10-19 19:07] #13 closed

[2017-10-19 19:08] dav-is commented on #4
That’s how CSS-in-JS is usally done, but I like the ideas in Linaria. Only downside is it isn’t very mature yet...

[2017-10-19 19:09] tirthbodawala commented on #4
@dav-is I see your point. Let me have a through look at Linaria, If it helps in minimizing the page/head load will definitely give it a go.

[2017-10-19 19:13] tirthbodawala commented on #8
@dav-is We have implemented workbox-sw but as a lib in core. We were unable to make it functional via
`yarn add` due to the following issue
https://github.com/GoogleChrome/workbox/issues/352

But once its solved we shall move it to node_modules again.

[2017-10-19 19:45] mrtysn commented on #19
Thank you for the answer. I am using Semantic as a global framework, therefore I need it in almost every component. As explained [here](https://react.semantic-ui.com/usage), the CSS is distributed via their CDN or an npm package. So, copy-pasting would mean regularly checking if they released a new version or not. Since that is not an optimal way of doing it, I would very much prefer if I could di

[2017-10-19 20:11] tirthbodawala commented on #19
@mrtysn Yes I can think we can specify that using anything from node_modules should be treated same as we do with src/resources/libs, That should solve the problem. Let me create a commit for you tomorrow (pretty late here past midnight). If that works for you, I shall add it to master branch and next release.
Does that work ?

[2017-10-19 20:14] tirthbodawala commented on #18
Also @mrtysn I tried the free version of Heroku but it shows the following in logs:
`Error R10 (Boot timeout) -> Web process failed to bind to $PORT within 60 seconds of launch
2017-10-19T20:01:45.458827+00:00 heroku[web.1]: Stopping process with SIGKILL`

I think its due to free version and limited memory. I am new to heroku. I just saw it after the issue was raised.

Is there a way we can build

[2017-10-19 20:26] mrtysn commented on #19
Of course, that would be great! We really like the project so far, thank you for the work.

If we can smoothly migrate our existing project and solve the further problems that have not occurred yet, we are considering to drop create-react-app in favor of react-pwa.  We would also be happy to back the project if you'd help us solve such performance issues.

I am keeping this issue open for now, unt

[2017-10-19 20:32] mrtysn commented on #18
Unfortunately, heroku is not designed that way. You push your code via version control (e.g. git) and the build scripts are automatically executed, as they are defined in Procfile. If a Procfile is not provided, they execute some default scripts, depending on the detected application type. In case of node.js, the `start` script is run.

You can define the Procfile as necessary but I don't know wha

[2017-10-20 00:45] dav-is opened #20 "Redux Offline instead of API caching"
Here’s an interesting article on this: https://hackernoon.com/introducing-redux-offline-offline-first-architecture-for-progressive-web-applications-and-react-68c5167ecfe0

Note: the repo for react offline is going through ownership changes currently

[2017-10-20 03:25] jhabdas commented on #20
Jani is a smart guy and has a good pulse on RN. There are [some discussion](https://github.com/callemall/material-ui/issues/593) regarding the confluence of native vs. Web which calls to mind the app vs. web debates we had years ago starting to form in the community it seems—as we can see with [this discussion](https://github.com/callemall/material-ui/issues/593) on `material-ui` where @necolas, a

[2017-10-20 03:31] jhabdas commented on #18
My two cents is that a boilerplate should remain independent of too much opinion lest it need to find its niche in an overcrowded field—of which this repo already has with its SEO focus IMO.

[2017-10-20 03:31] dav-is commented on #20
I’m curious to what you think.

[2017-10-20 03:35] jhabdas commented on #19
I know Stack Overflow has become quite the troll farm these days. Perhaps there's room for a free Discord server as this repo gains mindshare and popularity, to help keep the repo clean of help requests.

[2017-10-20 03:50] jhabdas commented on #17
Progress makes perfect! Thanks for all you do @tirthbodawala

[2017-10-20 03:52] dav-is commented on #17
I did some testing and I don’t see any transition or blur.

[2017-10-20 03:54] tirthbodawala commented on #17
@dav-is Right, I haven't added any transaction, I have just used lightweight with placeholder. Can you please share any example  where I can understand the functionality you are looking for ?

[2017-10-20 04:30] dav-is commented on #17
[code]
When the full picture is loaded, add the `.is-loaded` class.

[2017-10-20 05:10] gmchaturvedi1 opened #21 "sitemap.xml and robot"
hi,
i am new  to this where we can ut sitemap.xml and robot files .

regrds
gmchaturvedi

[2017-10-20 05:40] tirthbodawala commented on #21
That is a very good question, How did I missed it.. :D
Well anything in src/public/ folder is available via <url>/public/ But I know its not appropriate to add robots.txt & sitemap.xml with prefix like <url>/public/robot.txt or <url>/public/sitemap.xml

Its a bug and would be solved.

@gmchaturvedi1 Are there any other files that needs to be directly accessible via root of url?
i.e. <url>/robot.tx

[2017-10-20 06:20] mrtysn commented on #18
What I'm suggesting here is not a modification to the codebase. A set of instructions in the deployment section of the docs would help first time users of the project to get going.

[2017-10-20 07:11] dav-is commented on #21
favicon.ico, the sw.js if you don’t already have those in mind

[2017-10-20 09:10] tirthbodawala commented on #21
@dav-is favicon is already handled

[2017-10-20 18:43] tirthbodawala commented on #19
@mrtysn I have pushed the changes to master and tested it with Semantic-UI-CSS with simple
`import 'semantic-ui-css/semantic.min.css';`

if you want it globally then use the import in src/client.js, that will include the semantic css in common bundle. thus you can use it whole application.

[2017-10-20 18:43] #19 closed

[2017-10-20 18:46] tirthbodawala commented on #19
@mrtysn Ok. The build is `yarn test` - ed. Let me know if this solves the problem of css include from node_modules.

@jhabdas I updated this cause many would like to use 3rd party plugins and css via node_modules and totally made sense.

[2017-10-20 18:51] tirthbodawala commented on #18
@mrtysn Dockerizing the application is already in the plan ( I am almost there with my local setup and docker )
I also know most of the good service providers like amazon ec2, google cloud, [heroku](https://blog.heroku.com/introducing_heroku_docker_release_build_deploy_heroku_apps_with_docker)
are now supporting docker deploy.
I hope anyone with bit of docker knowledge would be able to deploy it e

[2017-10-20 19:01] dav-is commented on #5
I took a quick look at this last night and discovered the code uses quite a bit of unsafe `eval()`. This needs to be done differently as it allows for xss attacks.

[2017-10-20 19:13] tirthbodawala commented on #5
@dav-is are you worries about ‘eval require dev.server’? cause that is nothing to worry about its just a patch for prod server to not inlice dev.server.js in build.

[2017-10-20 19:15] dav-is commented on #5
No I think it’s something one of the dependencies does on build. If you search “eval” inside the bundle.js, you will see what I mean. There’s several lines of eval at the very end.

[2017-10-20 19:16] dav-is commented on #5
An explaination of why eval shouldn’t be used: https://stackoverflow.com/questions/37155270/content-security-policy-csp-safe-usage-of-unsafe-eval

[2017-10-20 19:31] dav-is commented on #5
Actually, I think what I said only happens during development mode... a bit inconvenient for testing the headers

[2017-10-20 19:53] dav-is opened #22 "Development Build Need to be so Verbose?"
It's almost a bit ridiculous...

[2017-10-20 19:56] dav-is commented on #5
I can't seem to get a production build to work with: https://www.npmjs.com/package/express-csp-header

It throws an error no matter what I try...

[code]

[2017-10-21 12:34] tirthbodawala commented on #22
@dav-is by development build do you mean
“yarn start” ?

[2017-10-21 12:36] tirthbodawala commented on #9
@dav-is we are not going to provide support for typescript or flow at the moment, even though its simple and does not meed much configuration, I think adding extra functionalities just increases the size of build.

let go for up vote of the issue of its demanding we shall re-open the issue.

[2017-10-21 12:36] #9 closed

[2017-10-21 14:37] tirthbodawala commented on #22
Ok.. Figured out it was during `yarn build` thanks for pointing it out, updated the code for minimal warnings only.

[2017-10-21 14:37] #22 closed

[2017-10-22 18:14] mrtysn commented on #19
@tirthbodawala Hi Tirth, importing css still gives error:

Module build failed: ModuleNotFoundError: Module not found: Error: Can't resolve 'themes/default/assets/fonts/icons.eot' in '/home/coldwhistle/dev/react-pwa/node_modules/semantic-ui-css'

Can you provide a working example?

[2017-10-22 18:16] tirthbodawala commented on #19
@mrtysn how are you importing it? in css? or in client.js?

[2017-10-22 18:20] mrtysn commented on #19
I am working with the latest commit in the master branch.
- I've installed semantic-ui-css & semantic-ui-react" as devDependencies.
- Added `import "semantic-ui-css/semantic.min.css"; ` to src/client.js
Both yarn start and yarn build fails

[2017-10-22 18:22] tirthbodawala commented on #19
I did the same, and was working well. I have droped you an email regarding skype chat or any screenshare. Let me know if that is possible.

[2017-10-23 03:59] tirthbodawala commented on #19
For anyone who are still facing the issue, please do not include minified version of css from node_modules,
In this case do not include "semantic.min.css" but use "semantic.css"
There are path resolution issues with menified css.

[2017-10-23 06:38] mrtysn commented on #18
Dockerizing seems like a more robust plan than tailoring to each of these platforms one by one. However, since the only difference for any such platform would be a single short script, I wouldn't suggest completely discarding simpler deployment solutions.

[2017-10-23 06:39] #18 closed

[2017-10-23 06:43] mrtysn opened #24 "Dockerizing the application"
Using docker in order to deploy and easily scale the application is a necessary milestone. I believe you guys already have this as a WIP and if you were to share the progress, more people would be able to contribute.

[2017-10-23 12:16] lukaszzdanikowski opened #25 "Fresh install bug"
yarn run v1.2.1
node v8.7.0
After repository clone and yarn install && yarn start i get:
ERROR in ./src/resources/images/mario-large.png?sizes=100w+200w+400w+800w&placeholder&lightweight
esourcesimagesmario-large.png' in 'C:\sandbox\workspace\react-pwa\src\resources\images'
 @ ./src/resources/images/mario-large.png?sizes=100w+200w+400w+800w&placeholder&lightweight 12:17-199 24:17-199
 @ ./src/app/

[2017-10-23 12:22] tirthbodawala commented on #25
@lukaszzdanikowski can you please provide OS details?

[2017-10-23 12:24] tirthbodawala commented on #25
@lukaszzdanikowski well it worked for me in Ubuntu, not sure why is it giving an error in Windows. Can you please share OS details as well?

[2017-10-23 13:04] lukaszzdanikowski commented on #25
@tirthbodawala Win10 Pro x64  v1703

[2017-10-23 13:05] tirthbodawala commented on #25
Thanks @lukaszzdanikowski I have mac and Ubuntu. will get access to Windows tomorrow morning IST. i.e. approx 16 hours from now. I will look into it asap. Thanks for reporting.

[2017-10-23 13:22] lukaszzdanikowski commented on #25
@tirthbodawala thanks, it looks like slashes in on of the plugins get interpreted, that is why the file urls is changed to: esourcesimagesmario-large.png

[2017-10-23 13:27] tirthbodawala commented on #25
Right. I am sure its something related to windows path problem. Getting a VM to solve the issue asap. If you find the bug please share the PR.
Thanks

[2017-10-23 14:25] jhabdas commented on #24
Here's a recent example of adding Docker to a Webpack boilerplate from @eyedol, in case it proves useful: https://github.com/netlify/victor-hugo/pull/25. The team at Netlify opted against adding Docker but I strongly encourage it.

Here are some other Docker resources:
- https://habd.as/swarm-clusters-digital-ocean/ — how to swarm (scale horizontally) on a VPS
- https://habd.as/simple-websites-jek

[2017-10-23 14:37] tirthbodawala commented on #21
@gmchaturvedi1 With latest push on master branch if you add sitemap.xml/robot.txt to src/public folder it should be accessible via <url>/robot.txt or <url>/sitemap.xml.

[2017-10-23 14:37] #21 closed

[2017-10-23 14:43] jhabdas commented on #5
Advise against getting too far down the InfoSec here's how you should do your security hole with boilerplates. And I always say the same for auth as both are very opinionated things and adding security features may give individuals a false sense they're, ahem, covered when it comes to their node deps.

Adding [Snyk](https://snyk.io/) should be a good enough way to provide a baseline of security fo

[2017-10-24 03:53] dav-is commented on #5
Never thought of adding rel=noopener to the Link component. Nice thinking

[2017-10-24 04:01] dav-is commented on #24
Where are we stuck on docker implementation? It should be relatively simple.

[2017-10-24 04:15] tirthbodawala commented on #24
@dav-is and @jhabdas we are almoat there, it was Diwali vacation in India, which ended today, thus can focus on docker now. I think, it shouldn’t take more than 2 days to complete it. i.e. by tomorrow..

[2017-10-25 06:39] tirthbodawala commented on #24
One can now easily manage docker-build with this enhancement given Docker is properly configured and the terminal that is running the nodejs has access to docker command.

Steps to works with docker

`yarn docker:dev:image`
Will create a development image named "react-pwa" which will be used during application development and running.
If anything new is added to package.json `yarn docker:dev:image

[2017-10-25 06:39] #24 closed

[2017-10-25 10:48] lukaszzdanikowski commented on #25
I think that the issue is with pwa-srcset-loader. The npm version is not aligned with github repository (could you add version tags?). In the version that is published through npm the createPlaceholderRequest generates unescaped require if you add JSON.stringify there it should be ok. @tirthbodawala

[2017-10-25 18:55] tirthbodawala commented on #25
@lukaszzdanikowski Thank you so much for the wonderful PR in pwa-srcset-loader. I have merged it and upgraded the repo to use latest pwa-srcset-loader. Please let me know if you are still facing the issue.

Also I have added Docker support thus making it workable everywhere.
Thanks for your contribution.

[2017-10-25 18:55] #25 closed

[2017-10-26 07:59] lukaszzdanikowski opened #26 "routes-loader doesn't run on Windows"
On Windows development env the webpack route-loader is not run, thus bundleKey is not added to page's js files and the 404 info is displayed all the time

[2017-10-26 09:18] tirthbodawala commented on #26
Thanks for reporting the bug @lukaszzdanikowski Have you tried dockerizing the application ?
I will test this in windows right away though.

[2017-10-26 09:26] jhabdas commented on #24
nice cli! hope you had a great Diwali!!!

[2017-10-26 10:27] tirthbodawala commented on #24
Thanks @jhabdas Yaah, it was great. I got to code a lot along with spending time with family and having beer at night, most heavenly experience :)

[2017-10-26 10:31] tirthbodawala commented on #26
@lukaszzdanikowski The problem was not with routes loader but with regex of the pages, that we use loader for thus changed the regex to support both "\" & "/" I tested it on windows 10 Pro and is working just fine now. Please let me know if you still face any issue.

[2017-10-26 10:31] #26 closed

[2017-10-27 15:59] psycura opened #28 "Mobx instead redux"
Hello, and thank you for this awesome boilerplate.

Is this possible to exchange redux state management for Mobx?
If yes, how i can do it?

[2017-10-27 16:06] jhabdas commented on #28
Out of curiosity, what would make you want to use MobX? Have you tried porting?

[2017-10-27 16:12] psycura commented on #28
I`ve used redux before, and didn`t like a tonns of boilerplate that i have to write,
prefer the Mobx way.

[2017-10-27 18:12] dav-is commented on #28
Using Mobx would not allow us to use React Offline (#20)

[2017-10-28 02:42] jhabdas commented on #28
I wholeheartedly agree Redux brings with it a lion's share of boilerplate, lifting the barriers to entry for many would-be coders and spurring minimalist Flux implementations like [Exim](http://hellyeah.is/exim/). There is something to be said, however, for maintaining a course until a clear and favorable alternative emerges, and I do not believe MobX to be it.

[2017-10-28 06:07] psycura commented on #28
jhabdas, i`m not sure, that here is the right place to discuss , however there is nothing Redux can do, that Mobx can`t. And i don`t understand, why i have to write so many bolilerplate, if i can achieve same result with another tool?

[2017-10-28 06:17] tirthbodawala commented on #28
@psycura I have not worked with Mobx before, but you can create a PR and we can test the application with Mobx, I can assist you in PR and where to make changes.
Also we can use both Mobx and Redux, Redux is mainly for `Core` code, any other module can be installed and used, there is no hard dependency on Redux.

Would love to study the differences and provide proper support. Right now busy with d

[2017-10-30 08:32] AgentChris opened #31 "doesn't have pwa on subroutes"
when i hit the refresh button the app brokes

[2017-10-30 13:58] tirthbodawala commented on #31
@AgentChris. The react-pwa.now.sh was not updated properly. We have shifted the demo app to
https://demo.reactpwa.com, it should work now. Also regarding "Doesn't refresh on pwa subroutes." works on Linux, Windows, Mac.

If you are still facing the issue. please re-open the issue.

[2017-10-30 13:58] #31 closed

[2017-10-30 13:59] tirthbodawala commented on #28
@psycua. Closing issue due to inactivity. Please re-open the issue of you are willing to continue to Mobx

[2017-10-30 13:59] #28 closed

[2017-11-03 14:03] miladb opened #34 "Strange behavior in prod and dev env (duplicate head)"
Thank you for this awesome boilerplate.

I have a strange behavior with css.

In dev mode, all css are loaded.
In production, the head (metas + css) document of page is duplicated.
You can see an example in the attachement file (duplication of metas) :

![react-pwa](https://user-images.githubusercontent.com/1544276/32377241-468785a6-c0a7-11e7-95b3-be471de575cb.png)

Thank you

[2017-11-03 14:22] tirthbodawala commented on #34
@miladb, I see it is definitely a bug, need to remove the duplicate from prod mode. thanks for noticing

[2017-11-03 15:10] mohammedzamakhan opened #35 "Doesn't seems to work as PWA on iPhone"
I tried the website on my iPhone, didn't get the notification to add on home screen, and also if I save it on my home screen manually, and open it, it opens as a website, on safari, not full screen or any thing pwa :/

[2017-11-03 16:03] tirthbodawala commented on #35
PWA is limited to some browsers, right now supported on android phones. Safari is not yet supported.

[2017-11-03 16:03] #35 closed

[2017-11-03 17:47] mohammedzamakhan commented on #35
I know of other PWA's that work on my iPhone?!!! Like not all the features, but at least full screen and stuff

[2017-11-03 18:02] dav-is commented on #35
I believe there’s some special meta tags for fullscreen support but that’s it. Are those tags missing?

[2017-11-04 17:57] jhabdas commented on #35
Safari Mobile got fetch in iOS 10.1. If Cache API thingie for PWAs still isn’t supported for offline support I imagine it’s coming. What if a user is using Chrome on iOS? TBH it’s kind of hard to ignore 50% of the smartphone market.

Sent from Safari Mobile on my iPhone.

[2017-11-04 18:00] jhabdas commented on #34
There’s gotta be a joke in here somewhere about giving too much head...

[2017-11-04 18:09] tirthbodawala commented on #35
@jhabdas There are rumors regarding IOS implementation of PWA. But one thing is for sure, even if it's not PWA the boilerplate will function fast with code splitting and SSR!
@dav-is @mohammedzamakhan I will add the apple full screen meta and Icons, it is in the todo-list :)

[2017-11-04 20:36] dav-is commented on #35
Chrome on iOS still uses WebKit. Apple has been holding back development of chrome features like the payment API, PWAs, web notifications, etc. it’s really one of my only disappointments with Apple right now.

Although, I’m a bit worried there’s a conflict of interest when it comes to implementing PWAs in iOS as Apple makes quite a bit of money from the AppStore. Imagine if everyone started using

[2017-11-05 13:35] gmchaturvedi1 opened #36 "how to use graphql with this like apolloclient"

[2017-11-05 19:15] dav-is commented on #36
You should be able to follow the tutorials for react on Apollo’s site (it looks like their site is down right now?)

[2017-11-06 11:11] #34 closed

[2017-11-06 11:17] tirthbodawala commented on #35
@dav-is @jhabdas @mohammedzamakhan I have added appropriate meta tags thus supporting the fullscreen view in IOS as well.  Making more changes for apple app icon and shall update master accordingly.

[2017-11-06 18:22] Tuizi opened #37 "Replace postcss-smart-import"
The postcss-smart-import is now deprecated not maintained anymore. A note in the repo advice to switch to **postcss-import**

[2017-11-06 18:43] androidfanatic opened #38 "Link to contributor graph broken in master/README.md"

[2017-11-07 06:22] tirthbodawala commented on #37
@Tuizi Thanks for pointing out. Will definitely switch to postcss-import.

[2017-11-07 06:27] #37 closed

[2017-11-07 10:13] jaysondaquer opened #39 "Error 500 before loading home page"
Hi, we're trying to test this out on our server and we're able to deploy and run it properly. The only issue we have now is it always shows the Error 500 page before loading the actual landing page. https://react-pwa-dev.istackmanila.com/about

[2017-11-07 11:46] tirthbodawala commented on #39
@jaysondaquer did you installed any library after setup? If you used a library that uses window or document to function and the library is called in any child imports of server then we usually see a 500 server error.
Can you please share more details?

[2017-11-07 12:00] jaysondaquer commented on #39
![image](https://user-images.githubusercontent.com/7529733/32492700-2fae9502-c3f6-11e7-8c77-73ab515b93cb.png)
Hi @tirthbodawala  not sure if this cause the issue. I think the generation of the manifest.json throws an error because it cannot find the expected icon's naming conventions.

[2017-11-07 12:02] jaysondaquer commented on #39
![image](https://user-images.githubusercontent.com/7529733/32492787-7354571a-c3f6-11e7-8e10-2976fc4567c8.png)
it only shows the error 500 then skips and loads the actual home page. this cause an issue when being scraped by facebook as they initially scraped the errorPage

![image](https://user-images.githubusercontent.com/7529733/32492849-a100c9dc-c3f6-11e7-91a8-4240edf63e11.png)

[2017-11-07 12:07] jaysondaquer commented on #39
![image](https://user-images.githubusercontent.com/7529733/32492927-f38c9c30-c3f6-11e7-85d8-9e17348361d9.png)
not sure how are you able to generate this manifest.json on your demo site given this pattern

[2017-11-07 12:13] jaysondaquer commented on #39
just an update, we've already updated our build scripts and now able to load the manifest file. though we still see the Error 500 issue. can you take a look here -> https://react-pwa-dev.istackmanila.com/about

[2017-11-07 12:28] jaysondaquer commented on #39
we're not adding anything yet. we're just testing a fresh clone of the project. we're using nginx and pm2 to run the app.

[2017-11-07 12:36] jaysondaquer commented on #39
![image](https://user-images.githubusercontent.com/7529733/32494086-3c07fadc-c3fb-11e7-9622-e08198c89cbf.png)
Additional updates @tirthbodawala

[2017-11-07 13:26] tirthbodawala commented on #39
Ok. This is caused due to "getHeaders" function is not accessible from nodejs, also we are testing on ubuntu and everything works fine. Can you please share the nodejs version you are using ?

[2017-11-07 13:33] tirthbodawala commented on #39
Ok. I see the following link for reference:
https://nodejs.org/api/deprecations.html#deprecations_dep0066_outgoingmessage_headers_outgoingmessage_headernames

That is causing the issue. Let me check with latest version

[2017-11-07 13:37] #39 closed

[2017-11-08 15:51] dav-is opened #40 "React Native Hybrid"
Angular has https://ionicframework.com/
Where is React's hybrid app framework?

Can we support React Native?

Maybe we should consider a name change too? I've been working on a space/rocket themed site for the documentation too!

[2017-11-08 16:16] tirthbodawala commented on #40
Well, I will have to dig the React Native, I am still digging core of React. Will definitely give it a look. My next target was to make the react-pwa plugable... like installable module, or like wordpress's plugin based. Wouldn't it be cool if everyone can develop their own plugin?

[2017-11-08 18:29] dav-is commented on #40
It's still pretty rough, but here's what I've got so far with the updated documentation site. The stars in the background animate as well.

![Rough Site](https://user-images.githubusercontent.com/11590024/32567238-4f0dc88e-c480-11e7-8d26-fa678ad23d35.PNG)

[2017-11-08 18:29] dav-is commented on #40
It's still pretty rough, but here's what I've got so far with the updated documentation site. The stars in the background animate as well.

![Rough Site](https://user-images.githubusercontent.com/11590024/32567238-4f0dc88e-c480-11e7-8d26-fa678ad23d35.PNG)

[2017-11-08 18:29] dav-is commented on #40
It's still pretty rough, but here's what I've got so far with the updated documentation site. The stars in the background animate as well.

![Rough Site](https://user-images.githubusercontent.com/11590024/32567238-4f0dc88e-c480-11e7-8d26-fa678ad23d35.PNG)

[2017-11-08 23:22] jhabdas commented on #40
Nice looking site @dav-is. It's very, uh, in tune with current geopolitical climate. 🤣

[2017-11-08 23:25] jhabdas commented on #39
Yep, can see `8.4.0` [codified](https://github.com/Atyantik/react-pwa/blob/master/package.json#L5-L7) in the package manifest right now. @jaysondaquer assuming you were not using a supported version of Node, were no warnings thrown when you built the app?

[2017-11-09 02:13] tirthbodawala commented on #40
@dav-is this is pretty awesome. I am open to changes and would love to go in direction where its reqchable to more users and becomes more helpful.

[2017-11-09 02:14] tirthbodawala commented on #40
@dav-is @jhabdas @ajay @yash name sugesstions?

[2017-11-09 12:37] bytewiz opened #41 "Does this support dynamic SEO tags?"

[2017-11-09 13:06] tirthbodawala commented on #41
Yes. We have taken care of that. Sorry, the docs are not yet available but let me share a code snippet here.

[code]

Thus you can take care of SEO for dynamic pages.

[2017-11-09 13:31] bytewiz commented on #41
@tirthbodawala awesome and thank you very much for the fast response! 👍

[2017-11-10 06:57] tirthbodawala commented on #38
Thanks for pointing this. The link has been corrected :+1:

[2017-11-10 06:57] #38 closed

[2017-11-10 07:36] tirthbodawala commented on #5
Ok. I have added support for CSP, but leaving the control in hands of user/developer and it might vary according to env where the app is running:

Editing **src/config/config.js** as below will do the job
[code]

[2017-11-10 07:36] #5 closed

[2017-11-10 16:19] dav-is commented on #5
Do you provide secure defaults? Have you tested the config? In development mode, unsave-eval is used so it may cause errors.

[2017-11-11 13:14] SC7639 opened #42 "React Hot Reload not working on Docker For Windows"
I've been looking into getting hot reload to work on docker for windows. I've found out that I need to get webpack to poll files due to the filesystem used in docker for windows mounted volumes, I need to add the below to the webpack configuration but I'm not sure where to add it in the dev.babel.js file (if that is the correct file). I've tried adding it in multiple places but I'm not sure if it'

[2017-11-12 19:50] ArtemKha opened #43 "App doesn't start on windows machine with error (Cannot find module '../build/Release/sharp.node')"
After successful commands:
cd react-pwa && yarn install
yarn global add windows-build-tools
yarn global add node-gyp

I got the error after this:
yarn start

....

ERROR in ./src/resources/images/mario-large.png?sizes=100w+200w+400w+800w&placeholder
Module build failed: Error: Cannot find module '../build/Release/sharp.node'
    at Function.Module._resolveFilename (module.js:536:15)
    at Functio

[2017-11-13 07:32] tirthbodawala commented on #42
@SC7639 Let me have a look at it. I have tested docker on Linux and was working fine. it is supposed to work for Windows as well but let me go through it.

[2017-11-13 07:36] tirthbodawala commented on #43
I think this refers to https://github.com/lovell/sharp/issues/669.
For Python related problem in windows there is a small guide at https://github.com/nodejs/node-gyp
May be path issue. Can you please check if the links mentioned solves you problem?

[2017-11-13 11:23] tirthbodawala commented on #42
@SC7639 Can you please share your windows details along with the version of docker you are using?

[2017-11-13 12:04] SC7639 commented on #42
I'm using Windows 10 with docker for windows. I've had this issue before with things like nodemon. It's because HyperV doesn't propagate file system events so I know the fix is polling for file changes.
Output of `docker version`:
[code]

[2017-11-13 12:43] tirthbodawala commented on #42
@SC7639 I have updated the code to accept watchOptions from config to enable watch config,
Please update the file webpack/dev.babel.js
by the following option in devServer section:
[code]
This should also be updated for service worker configuration just in case, ( I added backup config from above but adding it to service worker would make more sense:

[code]

Let me know if this fixes the issue!

[2017-11-13 19:15] ArtemKha commented on #43
Tried to do npm install instead of yarn and it worked

[2017-11-13 19:15] #43 closed

[2017-11-14 05:13] tirthbodawala commented on #43
Thanks @ArtemKha. This will be added to docs as well.

[2017-11-14 05:14] tirthbodawala commented on #42
@SC7639 Were you able to configure it after this update?

[2017-11-14 10:01] tirthbodawala commented on #42
Closing due to no-response

[2017-11-14 12:46] SC7639 commented on #42
I've tried after updating the configuration and it's still not hot reloading. I've also noticed that the nodemon doesn't reload either if any of the files are changed that it's watching.

[2017-11-14 13:34] tirthbodawala commented on #42
Ok. I shall debug this in detail, but I have applied the patch suggested. Is there anything we are missing?

[2017-11-14 16:20] SC7639 commented on #42
Sorry I was wrong about it fixing the issue. I cloned a fresh version of the repo and it works. Sorry for the mix up

[2017-11-14 17:48] #42 closed

[2017-11-16 06:54] taqimustafa commented on #41
@tirthbodawala the updateSEO part works similar to `react-helmet` ? or does it actually update the meta tags in page source ?

Right now i tried this code, but it's only updating meta tags in inspect view. I don't think FB crawler or other social media crawlers will be able to get the dynamic meta tags.

https://developers.facebook.com/tools/debug/

[2017-11-16 07:39] tirthbodawala commented on #41
@taqimustafa updateSeo updates meta tag in development mode, but when you build your application, the same function returns updated metadata in source file thus giving expected output in production mode.

[2017-11-16 10:53] ankushtiwari-atyantik opened #44 "If images with same name are in different folders, the first one that gets build gets picked for display."
If images with same name is placed in common resources and one in a individual module the common one get picked even though the image path used was for the individual module while importing.

[2017-11-16 10:58] taqimustafa opened #45 "add CDN urls"
@tirthbodawala just wanted to ask if there is any way we can add bootstrap CDN or googlemap script tag in the header ?

[code]

[2017-11-16 11:13] #45 closed

[2017-11-16 11:39] tirthbodawala commented on #45
@taqimustafa You should not include scripts in head directly rather use loadScript in custom root component. You can have a look at example application with boilerplate.

Also bootstrap is included, even if you are willing to include it from header from other cdn you should use the seo config in src/config/config.js as

// src/config/config.js
[code]
But the above method is highly discouraged as i

[2017-11-16 12:58] taqimustafa commented on #45
@tirthbodawala thanks. Will try your solution. 👍

[2017-11-17 10:01] lukaszzdanikowski opened #46 "How to load fonts from resources/fonts directory?"
I would like to add custom font but it seems that font files are not loaded.
I've put my fonts into resources/fonts/abcd/abcd.eot
added this to my style.scss
[code]
Font is not loaded on dev and not copied to dist directory.

[2017-11-17 10:51] tirthbodawala commented on #46
I think the path is incorrect.
[code]
Also the  compiled fonts are onlu viewable on building the application, i.e. after running `npm run build`

[2017-11-19 11:43] samueljim opened #48 "building app the app is not working out of the box"
I am running into issues where building the app with yarn build returns errors like this

ERROR in ../core/node_modules/css-loader?{"modules":true,"localIdentName":"[name]_[local]_[hash:base64:5]","sourceMap":false,"minimize":true,"importLoaders":2}!../core/node_modules/postcss-loader/lib?{"sourceMap":false,"path":"C://Users//thesa//Documents//react-pwa//core//node_modules"}!../core/node_modules/s

[2017-11-19 21:05] dav-is commented on #48
Appears to be an issue with yarn on windows. Using npm should allow it to work (if this is the same issue I’ve seen), but this is obviously an issue.

[2017-11-19 23:04] samueljim commented on #48
Using npm changes nothing to do with the build sadly. When i use npm install fails when it gets to webpack

C:\Users\thesa\Documents\react-pwa\core\uglifyjs -> C:\Users\thesa\Documents\react-pwa\core\node_modules\uglify-js\bin\uglifyjs
npm ERR! path C:\Users\thesa\Documents\react-pwa\core\webpack
npm ERR! code EISDIR
npm ERR! errno -4068
npm ERR! syscall open
npm ERR! EISDIR: illegal operation on

[2017-11-19 23:48] dav-is commented on #48
I guess that means it’s a separate issue than https://github.com/Atyantik/react-pwa/issues/43

[2017-11-20 00:08] samueljim commented on #48
Something web-pack related. in the last version i was getting an issue with uglifyjs also

[2017-11-20 05:05] tirthbodawala commented on #48
@samueljim Can you please mention nodejs and yarn version you are using? and this is only during build right? or happens during development as well?

[2017-11-20 05:05] tirthbodawala commented on #46
@lukaszzdanikowski were you able to solve the issue with the answer above?

[2017-11-20 09:23] tirthbodawala commented on #48
I have corrected the npm command for windows as npm --prefix is not working as expected in windows! we would rather cd the directory and call the command.

[2017-11-20 09:23] #48 closed

[2017-11-20 09:24] tirthbodawala commented on #40
Closing the discussion as we will move such talks to gitter or discord.

[2017-11-20 09:24] #40 closed

[2017-11-20 09:33] lukaszzdanikowski commented on #46
@tirthbodawala yep, that works perfectly.

[2017-11-20 09:35] tirthbodawala commented on #46
@lukaszzdanikowski thanks for replying. Closing the issue now :)

[2017-11-20 09:35] #46 closed

[2017-11-23 01:34] bytewiz opened #49 "Error in Build regarding router-loader"
After following the instructions for routing from the documentation, and running the build script it errors out with the below:

[code]

### Note:
For the route itself I am wrapping the component in a container using `connect()` from `react-redux` but shouldn't kill the routing?

`./src/routes.js`
![image](https://user-images.githubusercontent.com/16811871/33156058-3cd5d04a-cff6-11e7-8360-7f20f4ce

[2017-11-23 02:49] tirthbodawala commented on #49
@bytewiz, the pages folder should be used to only define files with routes, its very necesaary because route loader tries to add magic in every file inside pages folder, as you have added Compnent inside pages folder, its breaking the code, try moving Component to app folder and it should work just fine.

Let me know if this helps!

[2017-11-23 10:46] bytewiz commented on #49
@tirthbodawala thanks, that seemed to work out but ran into another problem loading an image and the weird thing is I am loading in an image from the same location that works.

this is the error

[code]

[2017-11-23 10:55] tirthbodawala commented on #49
@bytewiz Can you please share the code of `/app/eventWebsite/Hero/index.js` ?

[2017-11-23 10:58] tirthbodawala commented on #49
Also to solve the error for `dyld: Library not loaded` Please make sure you have *libpng* installed:

Ubuntu:
`sudo apt-get install libpng-dev`

Mac (with brew)
`brew install libpng`

[2017-11-23 11:21] bytewiz commented on #49
Let me try that and additionally:

Loading the image from `./src/app/eventWebsite/Hero/index.js`
and the image is used in the same file like this:
[code]
like so: `import DefaultHeroImg from '../../../assets/img/coverphoto.jpg';`
and `assets` is found in `./src/assets/img/coverphoto.jpg`

[2017-11-23 12:01] bytewiz commented on #49
@tirthbodawala That worked 👍  Now only problem I am left with is
[code]

But let me see if I can solve that :v:

[2017-11-23 12:04] tirthbodawala commented on #49
Please move the `require("../styles/fonts.css")` from routes to `src/client.js`
As styles need to be managed via client it would make more sense and won't hinder compilation of server.js

[2017-11-23 12:14] bytewiz commented on #49
@tirthbodawala I moved `require("../styles/fonts.css")` to the component instead but I am still getting the same UglifyJS error 😞

[2017-11-23 12:20] tirthbodawala commented on #49
@bytewiz Is there a way I can assist you remotely? you can reach me at tirthbodawala [at] atyantik.com

[2017-11-23 12:24] bytewiz commented on #49
@tirthbodawala I can't share the code, but let me try to reproduce it with another example :v: then I will share that

[2017-11-23 12:36] tirthbodawala commented on #49
@bytewiz I just create a gitter channel for react-pwa if you wish to join:
https://gitter.im/react-pwa/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2017-11-24 02:34] #49 closed

[2017-11-24 11:15] gufranmirza opened #50 "Support for immutable js"

[2017-11-25 06:10] samueljim opened #51 "Not sure how to add new things into global state"

[2017-11-27 06:18] samueljim commented on #51
a redux introduction would be nice

[2017-11-27 07:57] tirthbodawala commented on #51
@samueljim Sure. Working on documentation. Will close the issue as soon as I have a doc ready

[2017-11-28 07:58] lukaszzdanikowski opened #52 "Using json files from public directory"
With latest code from master when i create simple test.json in public direcory:
[code]
and want to load it in lets say home page with:
[code]
in development mode everything works ok, but when i run prod version i'm getting
[code]
I know that error comes from SSR that has issues with accessing file but how to handle that situation?
Another small issue is that the host variable that is provided to p

[2017-12-02 15:29] #50 closed

[2017-12-03 00:42] samueljim opened #54 "since core update i can't add new packages or npm start"
the code will run up untill i add a new node package
module.js:538
    throw err;
    ^

Error: Cannot find module '../../directories'
    at Function.Module._resolveFilename (module.js:536:15)
    at Function.Module._load (module.js:466:25)
    at Module.require (module.js:579:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (C:/Users/thesa/Documents/ia-jn/core/webpack/dev.

[2017-12-03 07:38] #54 closed

[2017-12-03 08:03] tirthbodawala commented on #54
Hey @samueljim can you please share the solution as well?

[2017-12-03 08:55] samueljim commented on #54
Just don't delete the directories file like i did 🤒
I can't run built code now

C:\Users\thesa\Documents\ia-jn\dist\server.js:1
(function (exports, require, module, __filename, __dirname) { !function(e){function t(n){if(r[n])return r[n].exports;var o=r[n]={i:n,l:!1,exports:{}};return e[n].call(o.exports,o,o.exports,t),o.l=!0,o.exports}var r={};t.m=e,t.c=r,t.d=function(e,r,n){t.o(e,r)||Object.defin

[2017-12-03 20:18] hugominas commented on #42
you need to add host: '0.0.0.0' for hot reloading to work in a docker container:

[code]

[2017-12-04 02:12] samueljim opened #55 "ReferenceError: navigator is not defined"
(function (exports, require, module, __filename, __dirname) { !function(e){function t(n){if(r[n])return r[n].exports;var o=r[n]={i:n,l:!1,exports:{}};return e[n].call(o.exports,o,o.exports,t),o.l=!0,o.exports}var r={};t.m=e,t.c=r,t.d=function(e,r,n){t.o(e,r)||Object.defineProperty(e,r,{configurable:!1,enumerable:!0,get:n})},t.n=function(e){var r=e&&e.__esModule?function(){return e.default}:functio

[2017-12-04 04:53] tirthbodawala commented on #55
Hi @samueljim, Well you are using some plugin that is utilizing window. window.navigator during SSR, well it is not a good practice to use any plugins/libraries. If it is unavoidable, you can create a PR for adding polyfill for window.navigator in /core/src/server/dom-polyfill.js something like:
[code]

[2017-12-04 04:53] #55 closed

[2017-12-04 04:55] dav-is commented on #55
This question need to be put into some sort of FAQ.

[2017-12-04 05:05] tirthbodawala commented on #52
@lukaszzdanikowski I tried replicating the bug, but it worked perfectly.
Here is what I did in the repo to replicate it:
1) Created test.json in src/public/test.json with data:
[code]
2) Edited src/pages/blog.js to look as below:
[code]
3) Ran it in development mode and got the output as expected
[code]

4) Ran it in production mode and got the same output
[code]

Did I missed anything?

[2017-12-04 05:44] samueljim commented on #55
the same result happens when code is unchanged from a direct pull

[2017-12-04 06:14] tirthbodawala commented on #55
@samueljim Sorry didn't understand the direct pull query. What happens with direct pull?

[2017-12-04 06:35] samueljim commented on #55
when i pull the project and install and build it it gives this output
i have not added any library's

[2017-12-04 07:32] samueljim commented on #55
@tirthbodawala after i make your changes i get this
fs.js:652
  return binding.open(pathModule._makeLong(path), stringToFlags(flags), mode);
                 ^

Error: ENOENT: no such file or directory, open 'C:\Users\thesa\Documents\ia-jn\dist\public\index.html'
    at Object.fs.openSync (fs.js:652:18)
    at Object.fs.readFileSync (fs.js:553:33)
    at e.exports.e (C:\Users\thesa\Documents\ia-jn

[2017-12-04 07:55] samueljim commented on #55
i have worked out the issue was my computer
Now i don't know why the built version looks different from the original

[2017-12-07 06:12] tirthbodawala commented on #52
@lukaszzdanikowski any updates?

[2017-12-07 07:19] lukaszzdanikowski commented on #52
@tirthbodawala If you go through home, so first localhost:3003/ then click blog in navigation everything is ok, but if go directly to localhost:3003/blog you should be able to see this error in the console.

[2017-12-07 07:39] tirthbodawala commented on #52
![working json file](https://user-images.githubusercontent.com/11286271/33703834-d233d736-db4f-11e7-8b84-20300d971290.png)
@lukaszzdanikowski I tried it on my machine, unable to replicate it. Can you please provide more details?

[2017-12-07 12:55] lukaszzdanikowski commented on #52
@tirthbodawala sorry it must have been some weird dependency issue cause when i removed ```node_modules``` and run ```npm install``` once again the error doesn't occur any more.

[2017-12-07 15:43] tirthbodawala commented on #52
@lukaszzdanikowski No problem, am glad the issue is solved.

[2017-12-07 15:43] #52 closed

[2017-12-07 20:02] dav-is commented on #4
I gave this some more thought and I like our current implementation better.

[2017-12-07 20:02] #4 closed

[2017-12-15 13:02] RizwanZaheer opened #56 "Internal Server Issue"
I already resolve the window & navigator(#55) issue
Project is successfully build with no error "node dist/server.js" is also run successfully with no error
but when I'm going to access in browser then I'm getting  " 500 Server error occurred"

Error: Minified React error #149; visit http://facebook.github.io/react/docs/error-decoder.html?invariant=149&args[]=carouselWrapper for the full message o

[2017-12-15 14:24] tirthbodawala commented on #56
Well are you using multiple react version? is carouselWrapper a plugin or npm package?

[2017-12-15 14:56] dav-is commented on #56
I ran into the same error. Refs cannot be defined by strings.

Use this notation:
[code]

[2017-12-16 01:43] dav-is opened #57 "Locally Scoped Styles"
Right now Styles are globally scoped. I don’t see a benifit in this and it has only caused conflicts between components. Can we change this to a local scope?

[2017-12-16 03:01] tirthbodawala commented on #56
@RizwanZaheer Does the solution provided by @dav-is solves your aissue?

[2017-12-16 03:05] tirthbodawala commented on #57
Hey @dav-is thanks for raising the question, only the Styles in resources are globally scoped and should be used for 3rd party library.
all the css in compnents like
`src/components/home/style.scss`
 Is locally scoped.

[2017-12-16 03:08] dav-is commented on #57
The classnames aren’t scoped. It uses `style_${classname}` so it may be scoped by the route but the classnames can conflict.

[2017-12-16 03:09] dav-is commented on #57
See “modules” in the css-loader repo. Seems to be set to false in the repo when it should be true

[2017-12-16 04:21] tirthbodawala commented on #57
@dav-is For development mode only there is style_${classname} for production mode that gets converted to module scoped with hash.

[code]

[2017-12-16 04:21] #57 closed

[2017-12-16 04:45] dav-is commented on #57
That’s an issue. CSS doesn’t behave consistently.

[2017-12-16 07:11] tirthbodawala commented on #57
Creating hash during development is really a heavy process... That is the reason hash is only included in production mode. Can you please explain a scenario where this can cause issue?

[2017-12-16 15:39] dav-is commented on #57
I created a grid in layout.js. The main div had class name of “grid” and it’s children had the classnames of “header”, “decor”, “content”, “nav”, and “footer”. Inside the nav div there’s a <Header /> component. I gave one of the child elements in there the classname of “nav” again and it merged the styles between the two separate classes.

Could we do `style_${className}_${componentName}`

[2017-12-18 15:56] tirthbodawala commented on #56
Closing due to no-reply.

[2017-12-18 20:38] dav-is commented on #14
Can you help me with this @tirthbodawala ?

[2017-12-19 04:24] tirthbodawala commented on #14
Sure. Let me dive into it. I was thinking of creating a plugin like `pawjs-firebase` to integrate with it. does that make sense?

[2017-12-19 06:33] dav-is commented on #14
Sounds great!

[2017-12-19 14:05] stevenmatison opened #58 "Need working sample action/reducer from within /src/app/component"
Hi,  I am working with this boilerplate and struggling to get an action/reducer working for a userProfile component.   The best I can get so far is setting my initial state with default data.  These defaults are persisting after the actions complete.  When executing the action (includes an api call to get the real userProfile data) I can see the data response and see it pass through my reducer and

[2017-12-19 20:29] tirthbodawala commented on #58
Hi @stevenmatison I will definitely send you a working example of redux, will add an example in boilerplate. Thanks for your patience.

[2017-12-19 20:30] tirthbodawala commented on #51
#58

[2017-12-20 11:34] tirthbodawala commented on #44
This bug has been solved with latest update to PawJS.

[2017-12-20 11:34] #44 closed

[2017-12-20 12:40] stevenmatison commented on #58
Thank you.  With the working userProfile we should be pushing this out into production in January.

 I really appreciate all your hard work on this boilerplate.

[2017-12-20 12:51] tirthbodawala commented on #58
Thanks @stevenmatison We are loving it when we see it in action, Do share the URL of production will include in README.md win-win :+1:

[2017-12-20 16:38] lnorton89 opened #59 "Failure to Compile on `npm start`"
Running `npm start` throws several failure to compile errors. Accessing localhost:3003 shows blank page with the title "Common Title".

[npm_start.log](https://github.com/Atyantik/react-pwa/files/1576310/npm_start.log)

Node: 9.2.1
NPM: 5.60
Ubuntu 16.04

[2017-12-20 17:48] stevenmatison commented on #58
I will delete these later but:

https://stevenm.cogobox.com:3003/?id=701
https://stevenm.cogobox.com:3003/?email=steven@sceneserver.net
https://stevenm.cogobox.com:3003/?phone=13218484926
https://stevenm.cogobox.com:3003/?mac=F4:5C:89:99:35:F9

this is running "npm start" as such much of the pwa basics are not operating.   I have discovered that when I do 'npm run build && node dist/server.js' tha

[2017-12-20 18:13] tirthbodawala commented on #59
@lnorton89 Its mostly caused due to incomplete download of node-sass
Try
[code]

That should solve it.

[2017-12-20 18:21] stevenmatison commented on #39
I am seeing the same 500 error flash on a local version I am running as 'npm run build && node dist/server.js'

There are no errors/warnings in console...  my versions are:
Stevens-MacBook-Pro:pwa stevenmatison$ npm -v
5.6.0
Stevens-MacBook-Pro:pwa stevenmatison$ node -v
v8.5.0

[2017-12-21 03:01] tirthbodawala commented on #59
Sure will update docs for build essentials and node-gyp. Thanks for mentioning. Will take care of it.

[2017-12-21 03:01] #59 closed

[2017-12-21 03:05] tirthbodawala commented on #39
Hey @stevenmatison Can you please join our gitter channel? I think we can assist you more appropriately there.

[2017-12-21 05:55] tirthbodawala commented on #58
@stevenmatison Please join us on Gitter:
https://gitter.im/react-pwa/Lobby We can definitely assist more with chat :)

[2017-12-21 09:18] yash-thakur commented on #58
#60 I have added the redux example you can have a look at it.

[2017-12-21 09:18] #58 closed

[2017-12-21 09:18] yash-thakur commented on #51
#60  I have added the redux example you can have a look at it.

[2017-12-21 09:18] #51 closed

[2017-12-21 12:57] stevenmatison commented on #58
Thank you so much!!

[2017-12-22 12:22] RizwanZaheer commented on #56
@tirthbodawala No, I'm using single verison of react.
carouselWrapper is a simple class defined in this project for carousel
In Dev mode It's work fine but this issue came in production build

[2017-12-22 14:49] tirthbodawala commented on #56
@RizwanZaheer  Have you upgraded to latest version of react-pwa boilerplate? its using pawjs.

[2018-01-05 06:20] RizwanZaheer commented on #45
How can I add dynamic script for different page for the SEO?

[2018-01-05 07:12] RizwanZaheer commented on #56
Yes, now it's working fine

[2018-01-05 07:22] tirthbodawala commented on #56
Cool. thanks for informing :+1:

[2018-01-05 07:22] #56 closed

[2018-01-05 07:38] RizwanZaheer opened #62 "How can I add dynamic script for different page for the SEO?"
Like
[code]

[2018-01-05 07:44] tirthbodawala commented on #62
Ohhh... I see what you want to achieve here... I will need to work for this enhancement.
Its definitely going to my todo-list for the weekend.

[2018-01-05 16:22] bytewiz commented on #14
@tirthbodawala This sounds really nice! I kinda need to deploy on firebase hosting, is there as way to handle it atm. with or without the plugin?

[2018-01-05 16:25] ezwon opened #63 "Issue with imagemin-mozjpeg"
forgot the link that says its better to use `imagemin-jpegtran` instead.

on Mac, node v8.9.3

  ⚠ The `/Users/jaysondaquer/work/repos/github/react-pwa/node_modules/mozjpeg/vendor/cjpeg` binary doesn't seem to work correctly
  ⚠ mozjpeg pre-build test failed
  ℹ compiling from source
  ✖ Error: autoreconf -fiv && ./configure --disable-shared --prefix="/Users/jaysondaquer/work/repos/github/react-pw

[2018-01-05 19:18] yash-thakur commented on #14
@bytewiz https://github.com/firebase/reactfire/blob/master/docs/guide.md
May be this can get you started.

[2018-01-06 15:55] tirthbodawala commented on #63
@ezwon I researched and experimented a bit with jpegtran it has same issues as above as both are using cjpeg to function.

Why don't you try this?

Linux:
[code]

OS X:
[code]

[2018-01-06 15:55] #63 closed

[2018-01-06 22:05] bytewiz commented on #14
@yash-thakur thanks, but I don't really need how firebase work, only how to deploy with firebase hosting with cloud functions, currently not possible from the `server.js` generated from the build

[2018-01-09 19:22] dav-is commented on #14
@tirthbodawala What happened this weekend?

[2018-01-10 16:27] rperrote opened #65 "Server state, client state and component state of redux? How does it work?"
Reviewing the project I can see 3 definitions of the state of redux.. I assign different initialState in the 3 places and deploy the app:

1. for few secons i can see a server initial state
2. then the state changes for the client version of initial state
3. I never see the initial state of the component

How does it work?

I need it to work offline. That the user can add the app to his home and w

[2018-01-10 16:57] dav-is commented on #14
I’m considering using https://aws.amazon.com/appsync/ instead of Firebase as it uses a universal standard (GraphQL) instead of an arbitrary one.

[2018-01-11 16:18] tirthbodawala commented on #65
@rperrote. Well as its SSR supported application we need initial state in server.js and client.js. No other file needs to be updated.

`src/client.js`
[code]

`src/server.js`
[code]

I need to understand your exact requirement how you need to sync it with the server and work with the offline state. Can you please explain more?

[2018-01-13 08:19] tirthbodawala commented on #62
@RizwanZaheer @ezwon:

I have added hooks to the system of PawJS and they can be used as below in `src/server.js`

[code]

[2018-01-13 08:19] #62 closed

[2018-01-13 08:21] #11 closed

[2018-01-13 08:23] tirthbodawala commented on #14
@bytewiz @dav-is getting pretty close with plugin and hooks. Updated the master branch to support paw_head & paw_footer hooks
Checkout `src/server.js`

[2018-01-16 20:10] migueloop opened #66 "api.fetch method, only accepts json responses?"
Hello,

I've been using api.fetch in a page to get data but having a look to the class it's not possible to get other data than a json response from the server, right?

If we use another lib, we will loose state management done in this pawjs/src/libs/api/api.js file, right?

[2018-01-17 05:28] tirthbodawala commented on #66
@migueloop Well yes you are right, the default we are using is "universal-fetch" and "api" library we created is tightly bound to it.

But you can directly use "universal-fetch" for other responses.
[code]

The package usage can be found here: https://github.com/Pitzcarraldo/universal-fetch

But now as you raised this question It got me thinking if we can customize the API library for other respon

[2018-01-17 05:47] tirthbodawala commented on #65
Closing due to no-reply.

[2018-01-17 05:47] #65 closed

[2018-01-17 09:15] migueloop commented on #66
I was getting HTML response. Since server is also mine, I just changed to a json response, but could be nice to have other response types.

[2018-01-17 09:19] migueloop commented on #66
I will try to make a pull request just changing this fact. Should we use a different library like axios or request?

[2018-01-17 14:15] rijine opened #67 "how to run production build without docker?"

[2018-01-17 15:31] tirthbodawala commented on #67
@rijine Well you can build production version with
`npm run build`
and then you can simply execute the server.js with command
`node dist/server.js`

thus you can have a combined command of `npm run build && node dist/server.js`

[2018-01-17 15:31] #67 closed

[2018-01-17 15:34] tirthbodawala commented on #66
Well @migueloop I was more aligned to ES6 fetch "whatwg-fetch" with new html5 and thus included it. We can definitely try installing other options but would like to research properly.

[2018-01-17 19:12] rijine commented on #67
@tirthbodawala ok. thank you

[2018-01-23 16:29] TheForgotten69 opened #68 "Using Hapijs"
Hey there!

Love this project, but just want to know, want do I need to change if I want to use Hapi rather than express?

[2018-01-26 19:54] susan8098 opened #69 "Implementing Material UI"
Hi, wondering how I can implement Material UI with this boilerplate? According to Material UI Doc, I'd have to insert <MuiThemeProvider> somewhere in the root file to wrap around React App element, where can I do this?

[2018-01-27 22:43] rasmusbjoernrasmussen opened #70 "Hardware/Peripheral Support"
What has been done?
What could be done?

I'm thinking printers, barcode scanners etc.

Issue created after request from Chat on site.

[2018-01-28 14:15] tirthbodawala commented on #69
Hey @susan8098 apologise for late reply. Please share the Material UI link you want to use I shall create an example of usage for it.

[2018-01-28 23:39] susan8098 commented on #69
Hey @tirthbodawala, thanks for getting back, here's the doc link:
http://www.material-ui.com/#/get-started/usage

[2018-01-31 18:57] littlechad opened #71 "createProxy is not a function"
I did all the steps in getting started, and i ran `yarn start`, and i got this error message

`createProxy is not a function`

[2018-02-01 05:51] yash-thakur commented on #71
You can refer to this : [Here](https://github.com/gaearon/react-hot-loader/issues/262)
If the issue still persists feel free to respond with a comment.

[2018-02-02 21:23] susan8098 commented on #69
Any luck at all @tirthbodawala?

[2018-02-04 21:53] attilavago opened #72 "Error: Cannot find module './components/counter/reducer"
Following your setup instructions for a clean app results in an error. Tried twice... :/

`Error: Cannot find module './components/counter/reducer'`

[2018-02-05 07:23] tirthbodawala commented on #72
@attilavago Can you please share the whole error log? or the console with line to line description please?
I will look into it asap.

[2018-02-05 08:54] ThunderBoltEngineer opened #73 "Production Mode Build Error"
I tried to test pwa locally in production mode.
Used: NODE_ENV=production npm start command but getting error below-

/Users/veteran/Desktop/Spinfluence/node_modules/babel-core/lib/transformation/file/index.js:590
      throw err;
      ^

SyntaxError: /Users/veteran/Desktop/Spinfluence/src/resources/images/pwa/icon-72x72.png: Unexpected character '�' (1:0)

Please help me, how can I resolve this?

[2018-02-05 08:56] ThunderBoltEngineer opened #74 "How can I use FCM?"
I tried to use firebase cloud messaging inside pwa, but when I request to get FCM token, getting error below ;

FirebaseError {code: "messaging/failed-serviceworker-registration", message: "Messaging: We are unable to register the default s…). (messaging/failed-serviceworker-registration).", browserErrorMessage: "Failed to register a ServiceWorker: The script has an unsupported MIME type ('text/ht

[2018-02-05 11:56] tirthbodawala commented on #73
You cannot start in production mode. You can only build in production mode as of now.
`NODE_ENV=production npm run build`

We are not supporting production start at the moment.

[2018-02-05 11:56] #73 closed

[2018-02-05 11:57] tirthbodawala commented on #74
How are you trying to work with FCM ? Can you share the code example you are trying to implement?

[2018-02-05 11:58] tirthbodawala commented on #71
Closing due to inactivity.

[2018-02-05 11:58] #71 closed

[2018-02-05 11:59] tirthbodawala commented on #70
@rasmusbjoernrasmussen PWA can only do what Browsers are capable of. they cannot do direct Hardware interaction until and unless the browser has the rights to do that.

[2018-02-05 11:59] #70 closed

[2018-02-05 12:09] ThunderBoltEngineer commented on #74
-I wrote below code in login.js, which is login screen.  Works well. Permission granted.

// configure firebase
firebase.initializeApp(firebaseConfig);
const messaging = firebase.messaging();

componentDidMount() {
...
messaging.requestPermission()
            .then(function() {
                  console.log('Notification Permission Granted');
            })
            .catch(function(err) {

[2018-02-06 07:33] ThunderBoltEngineer opened #75 "Production Error"
I am currently using React-Slick component and it is raising error in production mode.
"matchMedia not present, legacy browsers require a polyfill", I am getting this error message when I try to run  "NODE_ENV=production node server.js"  in /dist directory.

Please help me fix this issue.

[2018-02-06 10:20] tirthbodawala commented on #75
Ok. @ThunderBoltEngineer so I think you are using a library that requires window & document to function. further. Well if you are looking for SSR solution we propose you use plugins that are SSR compatible.

https://github.com/akiran/react-slick/pull/950

Well, there is always a work around for such plugins. I will try to explain an example here:

Let me call it ComponentX (ReactSlick) that utiliz

[2018-02-06 10:20] #75 closed

[2018-02-06 10:25] tirthbodawala commented on #74
Ok. I am no expert in FCM but let me try to help you with proper Initializations here.
1) Any Initialization that is only client specific and does not require SSR should be in `src/client.js`

So the following code should be in client.js
[code]

I see the error above is pointing to webpack-internal which is webpack-dev-server and used when server is executed. Shifting the above code would help. Le

[2018-02-07 04:30] fditrapani opened #76 "Firebase hosting"
I'd like to deploy my app to Google's firebase hosting but I'm not sure how. Do you have any examples or documentation?

[2018-02-07 07:00] ThunderBoltEngineer opened #77 "reac"
Hi , I am using react-router(4.2.0) inside my project and it is working well in development mode.
But when I try on production mode, it just doesn't work.
At the point of redirection, site url changes but page content is never updated.
It seems component is not rendered for the new url.
Tried navigating to other pages, but all same.

Please let me know how I can resolve this issue.

[2018-02-07 07:09] dav-is commented on #77
Thank you for the 5 emails I received from this issue all at once.

[2018-02-07 07:22] ThunderBoltEngineer commented on #77
Sorry, I made mistake.   Anyway, please collaborate on this issue.

[2018-02-07 07:23] dav-is commented on #77
Console errors anywhere?

[2018-02-07 07:27] ThunderBoltEngineer commented on #74
I moved the code into client.js, but still getting firebase error.
"Failed to register a service worker ..."

:(

[2018-02-07 11:23] ThunderBoltEngineer commented on #77
No console errors...

[2018-02-08 13:22] ThunderBoltEngineer opened #78 "React-router not working in production mode"
I'm re-posting this issue because there weren't enough comments on the first one.

After fetching data from server, app should navigate to next page - this works well on development mode.
But in production mode, after fetching data, url just changes (from localhost:3003/login  to localhost:3003/main) but main component is never loaded and just login page is still rendered).
In login component, I u

[2018-02-09 07:27] #77 closed

[2018-02-09 10:38] vishalgheravada opened #79 "Allow async redux initial state"
right now redux initial state can be set by `export const reduxInitialState` but I have a request to fulfil where redux initial state can be decided after an Ajax request only. Is there a way to do it?
if not I would rather suggest following solution:
[code]

And where ever the function is utilised it can be awaited!

[2018-02-09 19:08] ThunderBoltEngineer commented on #78
No way to resolve this issue?

[2018-02-10 05:34] yash-thakur commented on #78
[code]

I hope this helps.

[2018-02-10 10:54] scoutrul opened #80 "Listening at http://0.0.0.0:3003 is wrong"
While `npm start`

Listening at http://0.0.0.0:3003
And nothing happens.

But actual address is http://localhost:3003

[2018-02-10 11:37] yash-thakur commented on #80
0.0.0.0 is also know as localhost

[2018-02-10 11:39] #80 closed

[2018-02-12 04:24] androidfanatic commented on #80
0.0.0.0 isn't also known as localhost though. 0.0.0.0 binds to all interfaces which may or may not be dangerous at times but is anyways used in the industry and widely accepted.

[2018-02-12 04:46] ThunderBoltEngineer commented on #78
Thank you, but can I use @connect in this boilerplate?

[2018-02-12 05:16] yash-thakur commented on #78
Yes for sure @ThunderBoltEngineer

[2018-02-12 05:46] yash-thakur commented on #69
@susan8098  Here goes the solution implemented and tested.
Make a new file `src/app/components/root/index.js`
with the content as follows:
[code]

Now go to `src/config/classMap.js`
replace `
import Root from "pawjs/src/components/root";` with the path of the newly created root file. Here it will be `import Root from "../app/components/root/index";`

[2018-02-12 05:46] #69 closed

[2018-02-12 07:02] yash-thakur commented on #72
@attilavago The simplest way to solve this error would be to empty `src/app/reducers.js` file for now.

To completely clean the project follow these steps below.
1) Delete the reducer file `src/app/reducers.js`.
2) Remove this code from client.js.
[code]

3) Remove this from server.js.
[code]

And the boilerplate is clean of any unnecessary code

[2018-02-12 07:02] #72 closed

[2018-02-12 08:39] yash-thakur commented on #76
Duplicate of  #14

[2018-02-12 08:39] #76 closed

[2018-02-12 12:35] ThunderBoltEngineer commented on #78
As you know, we should wrap react app component with 'Provider'.
Where should I put that?

[2018-02-13 08:48] yash-thakur commented on #78
For wrapping component refer to this issue: #69

[2018-02-14 12:38] ThunderBoltEngineer commented on #74
Any solution for this issue ?   x(

[2018-02-15 07:34] ThunderBoltEngineer commented on #78
@yash-thakur ,  I have followed the issue 69, but now app renders nothing.

[2018-02-16 07:33] RizwanZaheer opened #81 "Favicon issue"
When first time Site is bootup then favicon is work fine but navigate to different url then it's not working properly.
@tirthbodawala  have you checked this issue?

[2018-02-22 05:29] IrvingAxelB commented on #79
Hello,

I am trying to use async actions, but I am stuck on how to make it work on this project.

Any help or guidance would be greatly appreciated!

[2018-02-22 07:08] tirthbodawala commented on #79
@IrvingAxelB We are working on integrating Redux-Thunk. that should allow that. will integrate it in next release

[2018-02-22 15:57] IrvingAxelB commented on #79
@tirthbodawala Thank you for the quick response! When is the next release scheduled to come out?

[2018-02-23 09:12] tirthbodawala commented on #79
@IrvingAxelB We are planning a rewrite of the react-pwa with webpack4 which is very fast along with optimizations and implementation of redux-thunk. We are planning to launch it before 1st April 2018

[2018-02-23 16:28] IrvingAxelB opened #83 "How can I apply middlewares into the project"
Hello there!

Love this boilerplate and look forward to using it! But I am having trouble figuring out how to implement middleware.

I am trying to implement something like this.

const store = createReduxStore(
    makeRootReducer(),
    initialState,
    composeEnhancers(
      reactReduxFirebase(firebaseConfig, reduxFirebaseConfig),
      applyMiddleware(
        RavenMiddleware(),
        ...O

[2018-02-27 03:05] MikeShobe commented on #83
+1

[2018-03-01 07:16] tirthbodawala commented on #83
Hello @IrvingAxelB & @MikeShobe

For doing the above you need to update client.js and server.js as below:

`src/client.js`
[code]

`src/server.js`
[code]

[2018-03-01 14:15] #78 closed

[2018-03-03 14:06] devalexandre opened #85 "Error npm i"
node : v9.7.1
npm : 5.6.0

error:

make: Entering directory '/home/alexandre/projetos/react-pwa/node_modules/sharp/build'
  TOUCH Release/obj.target/libvips-cpp.stamp
  CXX(target) Release/obj.target/sharp/src/common.o
make: g++: Comando não encontrado
sharp.target.mk:119: recipe for target 'Release/obj.target/sharp/src/common.o' failed
make: *** [Release/obj.target/sharp/src/common.o] Error 127
m

[2018-03-04 10:50] tirthbodawala commented on #83
@IrvingAxelB & @MikeShobe Does this solve your problem?

[2018-03-05 04:30] tirthbodawala commented on #85
The issue is related to spark package: Please refer the issue [https://github.com/lovell/sharp/issues/1055](url)

[2018-03-05 04:30] #85 closed

[2018-03-05 04:50] MikeShobe commented on #83
Looks like it's working, thanks!

[2018-03-05 07:09] tirthbodawala commented on #81
@RizwanZaheer Checking this right now. I see the issue here... Thanks for reporting.

[2018-03-05 07:11] tirthbodawala commented on #68
@TheForgotten69 You want to change from express to hapi for API or Universal Routing?

[2018-03-06 11:37] RizwanZaheer commented on #81
Thanks @tirthbodawala ,
Let me know when you fix this bug :)

[2018-03-09 05:35] tirthbodawala commented on #68
Closing issue due to re-reply.

[2018-03-09 05:35] #68 closed

[2018-03-09 22:26] ivoreis commented on #69
Hi @yash-thakur @tirthbodawala, the current solution for material-ui works but only for the default case, I believe SSR is still an issue.

From the official documentation:
https://material-ui-1dab0.firebaseapp.com/guides/server-rendering/#handling-the-request

In order to make material-ui fully work with SSR  and avoid FOUC the styles need to be extracted and injected into the HTML.

[code]

Is t

[2018-03-14 00:53] istack-robel opened #86 "Root url settings?"
Is there a way we can specify a root url so the build wont assume that we will be deploying to something like www.example.com or sub.example.com? I wanted my app to be access to like example.com/myapp or example.com/myapp/another-dir. Thank you!

[2018-03-14 04:56] tirthbodawala commented on #86
That is very interesting. Haven't thought of it with that reference. Let me look into it. Thanks for raising the issue. Will look into it for sure.

[2018-03-20 18:39] TheForgotten69 commented on #68
Fo universal routing, it's what work best for me.

[2018-04-06 02:34] edwardkong86 commented on #18
Any deployment instructions to Amazon EC2, Google Cloud & Heroku or Docker?

[2018-04-09 23:24] kevincolten commented on #71
`npm prune` fixed it for me

[2018-04-14 12:55] gofur opened #88 "how to use redux-promise-middleware in react pwa"
Hello some body help?
how to use redux-promise-middleware in react pwa?

[2018-04-16 06:07] #88 closed

[2018-04-16 06:10] gofur commented on #88
I already solved by update to latest version (0.2.8)..

[2018-04-20 00:54] MikeShobe commented on #79
When is the new release date for this v2?

[2018-04-20 00:56] MikeShobe opened #89 "Transition timeout propType error"
I'm getting the following propType error:
Failed prop type: Invalid prop `timeout` of type `string` supplied to `Transition`, expected `number`

This seems to be internal to pawjs

[2018-04-20 04:51] tirthbodawala commented on #79
@MikeShobe the release date is targeted for version 2 is end of June.

[2018-04-21 19:03] TheForgotten69 opened #90 "Using Hapijs"
Hey there!

Love this project, but just want to know, want do I need to change if I want to use Hapi rather than express? I would like to use hapijs universal routing.

[2018-05-08 17:09] danfsd commented on #86
I'm think that I'm having the same issue:
I'm trying to run the application in a server that has other projects running at the same time. So I'm mounting the application on `myserver.com/projects/my-pwa`, but the application is trying to fetch all assets' paths from `myserver.com/build/images` instead of `myserver.com/projects/my-pwa/build/images`.

Any clues if this issue is the same from the OP?

[2018-05-09 05:14] tirthbodawala commented on #86
@danfsd @istack-robel: Have found a solution to this, would add a patch soon.

[2018-05-15 15:43] szhielelp opened #92 "No matching version found for pawjs@^0.5.0"
Hi, getting an issue when init installing in Win10 64b 1709

Here is the error msg:

npm WARN tar ENOENT: no such file or directory, open 'G:\Dev\GitRepos\Tmp\ReduxAcademy\ReduxAcademy\5PWAwithRedux\node_modules\.staging\duplexify-7df183cc\package.json'
npm WARN tar ENOENT: no such file or directory, open 'G:\Dev\GitRepos\Tmp\ReduxAcademy\ReduxAcademy\5PWAwithRedux\node_modules\.staging\duplexify-

[2018-05-29 00:17] cazetto commented on #69
Hi there! I have the same need to implement the material-ui.

Has anyone found a solution? @ivoreis @yash-thakur @tirthbodawala

Thanks

[2018-05-29 11:03] denny64 commented on #79
@tirthbodawala Any updates on this?

[2018-05-31 11:53] jibay commented on #79
hello,

You can use Redux-Thunk in client.js like this:

`
import * as appReducers from "./app/reducers";
import thunk from "redux-thunk";

export const reduxInitialState = {
  counter: {
    count: 15
  }
};
export const reduxReducers = appReducers;

export const reduxMiddlewares = [
  thunk,
];

if (module.hot) module.hot.accept();

`

[2018-06-04 11:10] #79 closed

[2018-07-02 09:56] EvanBurbidge commented on #19
@tirthbodawala has this issue been resolved? currently hitting it right now, was there ever a workaround created?

[2018-07-02 10:10] tirthbodawala commented on #92
@szhielelp  we are upgrading and re-organizing the versions. Please bear with us a little bit. approx 2 hours please

[2018-07-02 11:38] tirthbodawala commented on #19
@EvanBurbidge We are launching react-pwa v2 that would solve the issue. please stay with us a bit longer. It is a very big change.

[2018-07-04 05:56] #92 closed

[2018-07-05 06:16] tirthbodawala commented on #86
This is now feasible with PawJS v2 Implementation. checkout the latest repo changes and update the pawconfig.js to change your root url:
[code]

[2018-07-05 06:16] #86 closed

[2018-07-05 06:18] tirthbodawala commented on #81
@RizwanZaheer This bug has been solved with the implementation of PawJS v2. Unfortunately, it is a major change and would require upgrading a lot, but upgrading to PawJS v2 is recommended for more performance.

[2018-07-05 06:18] #81 closed

[2018-07-05 06:18] #66 closed

[2018-07-05 23:37] danfsd commented on #86
Thanks for the effort, will check it soon.

[2018-07-06 01:51] istackservices commented on #86
Cool! Thank you!

[2018-07-06 13:22] istackservices opened #94 "sw.js cache invalidation"
Hi,

Could we have sw.js or anything service-worker related NOT being cached on the express server level so wont need to mess with nginx/apache config.

Thank you!

[2018-07-18 04:42] User1m opened #95 "Documentation has typos"
https://www.reactpwa.com/docs/en/configuration.html#configuration-options

Examples for `host` and `port` are inverted

[2018-07-18 04:55] yash-thakur commented on #95
Good catch. Will correct it soon. :+1:

[2018-07-22 07:19] RizwanZaheer commented on #81
Thanks @tirthbodawala
can you please share the migration steps for us.

[2018-08-03 05:56] tirthbodawala commented on #94
@istackservices sw.js is not cached at all that is made sure by us:

[code]

[2018-08-03 05:56] #94 closed

[2018-08-03 05:57] tirthbodawala commented on #89
@MikeShobe we have removed support for transitions in new PawJS. Will let you know once we have a plugin for it available.

[2018-08-03 05:57] #89 closed

[2018-08-16 18:42] Stunext opened #96 "Docs about plugins are wrong!"
The example script in the documentation for the Redux integration is wrong. I had to look in the code of the demo application (code that is commented), to compile the application! Something similar happens with the integration with Sass, it seems that the plugin has an internal error.

`TypeError: webpackHandler.getBabelCssRule is not a function`

[2018-08-16 18:53] tirthbodawala commented on #96
@andres can you please try upgrading PawJS to latest version? We did solved
the issue. If not published I shall action it asap.
On Fri, 17 Aug 2018 at 12:12 AM, Andrés Fuentes <notifications@github.com>
wrote:

--

Atyantik Technologies Pvt. Ltd.

Tirth Bodawala - Director

7600540105

  *tirthbodawala@atyantik.com <tirthbodawala@atyantik.com>*

www.atyantik.com

713/B, Atlantis Heights, Dr. Vikra

[2018-08-16 19:08] Stunext commented on #96
The problem of Node-Sass is gone but the problem of Redux remains. The documentation says this:

`apply (serverHandler) {
        serverHandler.hooks.reduxInitialState.tapPromise (async ({getInitialState, setInitialState}) => {
            const initialState = Object.assign ({}, getInitialState (), AppInitialState);
            // You can also wait for something asynchronous to happen
            

[2018-08-17 05:25] tirthbodawala commented on #96
@Stunext Thanks for mentioning, I think we made mistake in docs, will correct and it and then close the task.

[2018-08-17 09:25] tirthbodawala commented on #96
@Stunext I have correct the doc: https://www.reactpwa.com/docs/en/plugin-redux.html
to add the tap name. Thanks for pointing it out.

[2018-08-17 09:25] #96 closed

[2018-08-17 16:16] andres commented on #96
you guys have the wrong andres in your list,
regards,
(the real) Andres

On 08/17/2018 03:25 AM, Tirth Bodawala wrote:

[2018-08-19 13:55] Stunext opened #97 "CSS import problem, classes renamed"
I have a very annoying problem, I try to integrate Reactstrap and as the documentation says, the css of the bootstrap package must be imported from node_modules. When doing this, the application does not render any css tag so I imagine that webpack is configured to ignore the css files in the node_modules folder. For this reason, I create an assets folder and import the code in the following way f

[2018-08-20 17:08] tirthbodawala commented on #97
Well I will need to check why the node_modules are not working, but for a short fix:
Please place the CSS that is not supposed to be named in the folder:

`src/resources/assets/styles/boostrap.css`

Any CSS from resources folder is not custom named and stays as it is.

and include it in `src/client.js` as below:

[code]

[2018-08-20 17:10] tirthbodawala commented on #97
Re-opening as still need to check the node_modules 's Issue!

[2018-08-20 18:30] tirthbodawala commented on #97
@Stunext Yes that was it’s sole purpose! I should better get it documented :) apologies.

[2018-08-20 18:30] #97 closed

[2018-08-21 06:12] ericp96 opened #98 "Shouldn't it be "save" instead of "save-dev"?"
Looking at your examples for plugins:
https://www.reactpwa.com/docs/en/plugin-redux.html

I'm a little surprised by the use of `npm i --save-dev` instead of `npm i --save`.  It seems like these would be production dependencies of the application, no?

[2018-08-21 07:08] tirthbodawala commented on #98
@ericp96: Well ReactPWA is designed in such a manner that it can output standalone JS files that do not need any `npm i` on production!

all you need to do is once you build it, just run with the normal node as `node dist/server.js` and it will start no need for dependencies, thus everything in dev-dependencies only!

Hope that makes sense!

[2018-08-21 07:08] #98 closed

[2018-08-21 11:28] tirthbodawala commented on #20
We have removed API caching and would allow the user to configure service worker to handle API caching manually. Thus closing the discussion.

[2018-08-21 11:28] #20 closed

[2018-08-21 20:46] ericp96 commented on #98
Thanks for the details as to why you suggestion `--save-dev`  I can understand why you would take that approach.

Looking at this from the context of deploying in a microservices environment.  Would it be appropriate to have these as dependencies to prevent from having to set the NODE_ENV to development when doing an npm install & npm build in a Dockerfile?

Just postulating what a Dockerfile migh

[2018-08-22 07:01] tirthbodawala commented on #98
@ericp96 The whole idea behind doing standalone JavaScript files is to avoid the unnecessary npm dependency and installation.

Let me try to explain how I would do it.
For running the app locally via docker I would do something like below:
**NOTE** this is not the perfect Dockerfile one would expect! it is just an example.

## Local Docker Image
===== Starting and developing application locally ==

[2018-08-23 18:07] ericp96 opened #99 "Redux docs cause exception when implemented"
The code in the redux docs cause an exception to be thrown when implemented.  This is because getInitialState is null when it is invoked in the server side documentation.  If you set the initial state first and then get it, you no longer get the error.
Breaks
[code]

Works:
[code]

[2018-08-27 19:18] Stunext opened #100 "How add Redux-Saga middleware?"
I tried like the documentation said but it seems that Saga does not run because it does not capture the actions. If I put `sagaMiddleware.run(Sagas);` inside the constructor of Client class it fails with `Before running a Saga, you must mount the Saga middleware on the Store using applyMiddleware` so I put `sagaMiddleware.run(Sagas);` in the apply function and don't show errors but don't work! Can

[2018-08-28 17:29] ericp96 commented on #99
Thanks!

[2018-08-28 17:31] ericp96 opened #101 "Sass Styles not hot reloading"
Sass styles not hot reloading, instead they are throwing an error.  To apply sass styles you must stop and restart the npm process.

[code]

Sass:
[code]

React component:
[code]

[2018-08-28 17:35] ericp96 commented on #101
Also client.js:

[code]

[2018-08-29 14:18] tirthbodawala commented on #101
Please upgrade your PawJS to v2.1.7

The commit solves it https://github.com/Atyantik/pawjs/commit/12fde1b36f4757ab237dedc9c1d7d245d79389a7

[2018-08-29 14:18] #101 closed

[2018-08-29 14:19] tirthbodawala commented on #99
@ericp96 This has been solved by the commit https://github.com/Atyantik/pawjs/commit/83ecf6a0df208c42e42edff0dbbabb9ab95a9eba

Please upgrade the @pawjs/redux package.

[2018-08-29 14:19] #99 closed

[2018-08-30 09:08] dxhuii opened #102 "plugin-image-optimization 插件实例引用时 optmizer 少了一个 i (optimizer)"
https://www.reactpwa.com/docs/en/plugin-image-optimization.html

实例错了：
原：import ImageOptimizer from "@pawjs/image-optmizer/webpack";
正确的：import ImageOptimizer from "@pawjs/image-optimizer/webpack";

optmizer 少了一个 i (optimizer)

![](https://ws1.sinaimg.cn/large/006bnWk0gy1furub69h5oj31a412owka.jpg)

[2018-08-30 09:47] tirthbodawala commented on #102
@dxhuii we have merged your PR and thus the issue is resolved. Thanks for finding it out.

[2018-08-30 09:47] #102 closed

[2018-08-30 09:48] tirthbodawala commented on #90
Closing as Inactive for more than 3 months!

[2018-08-30 09:48] #90 closed

[2018-09-04 08:23] dxhuii opened #103 "After using Redux, SSR will not take effect."
使用 redux 后 ssr 不生效
After using Redux, SSR will not take effect.

服务端渲染不出接口请求的内容
The server cannot render the content of the interface request.

如果支持，方便给出个实例吗
If support, is it convenient to give an example?

[2018-09-04 08:38] tirthbodawala commented on #103
@dxhuii can you please add the content of `pawconfig.json`, `src/server.js`, `src/client.js`& `src/webpack.js` so we can figure out the bug or problem?

[2018-09-04 08:53] dxhuii commented on #103
pawconfig.json
[code]
server.js
[code]
client.js
[code]
webpack.js
[code]
week.js
使用redux的组件
Components using Redux
[code]

[2018-09-06 10:28] tirthbodawala commented on #103
@dxhuii  hanks for providing detailed information, I will look into it by today, sorry got busy with day to day work :)

[2018-09-06 15:32] dxhuii commented on #103
@tirthbodawala

没事
Don't worry

那等你有时间看一下，是不是存在这样的BUG，如存在，希望可以得到解决。
Then when you have time to see if there is such a BUG, if there is, hope can be solved.

[2018-09-14 06:57] YasiruDev opened #104 "'Add to home screen' doesn't popup"
i tried pwajs in my project and visit my page more than 3 times withing 5 mins.but it's won't popup

[2018-09-17 09:07] ashmitaggarwal opened #105 "your src folder is empty"

[2018-09-17 09:10] tirthbodawala commented on #105
@ashmitaggarwal `src` already has 4 files
`client.js`
`server.js`
`routes.js`
`webpack.js`

Can you please let me know which src folder are you talking about?

[2018-09-17 09:14] tirthbodawala commented on #104
Hey @YasiruDev you tried PawJS in you project, but how? Can you please share the following details?
`package.json`
`pawconfig.json`

Device details:
 - OS
 - Hardare Configuration
 - Browser you are using

[2018-09-17 09:54] ashmitaggarwal commented on #105
just 4 files.. even those are empty.. nothing in there.. https://demo.reactpwa.com/ where to see the socurce code for this boilerplate

[2018-09-17 09:56] tirthbodawala commented on #105
@ashmitaggarwal yes the repository is served with bare-minimum. For starters, you can  look at the code of [https://github.com/Atyantik/pawjs/tree/master/demo](https://github.com/Atyantik/pawjs/tree/master/demo)

The exact code of demo.reactpwa.com was replaced and we would be adding more examples to react-pwa repo in future. Thanks for understanding.

Your contribution is appreciated.

[2018-09-17 09:56] #105 closed

[2018-09-17 12:30] tirthbodawala commented on #105
@ashmitaggarwal Also one of the core developer @yash-thakur has implemented his Portfolio site using react-pwa.
Find the code below:
https://github.com/yash-thakur/pawjs-portfolio

Live Website:
https://www.yashthakur.in

Hope the above comments help

[2018-09-26 21:36] johnnybossboy commented on #74
Any solution? I have the same problem

[2018-09-27 04:39] tirthbodawala commented on #74
@johnnybossboy We re in process of developing a firebase plugin for the same. Let me re-open the issue and shall close it as soon as the plugin is available.

[2018-09-27 04:40] tirthbodawala commented on #74
@ThunderBoltEngineer were you able to find a solution to your problem as well?

[2018-09-27 04:57] ThunderBoltEngineer commented on #74
Nope.  I had to use create-react-app.

[2018-09-27 04:59] tirthbodawala commented on #74
@ThunderBoltEngineer Apologies. I will jump on it asap.

[2018-10-11 10:19] akhmadodi opened #106 "How to change title & use react.semantic-ui?"
I'm sorry, I'm still a beginner, sorry if my question isn't useful to you. I want to ask, how do I change the title page? is there a clear enough example to make a new route consisting of components, reducers and so on? if I use react.semantic-ui, when calling it in a component is always considered an error, is there a correct way to call it?

[2018-10-11 17:14] yash-thakur commented on #106
@akhmadodi & @akashpayneSRO [PawJS with Semantic-UI](https://github.com/yash-thakur/pawjs-sematic-ui)

Here I have implemented the Title, Redux, and the semantic-ui.

If you have any doubts you are most welcome :)

[2018-10-11 17:14] #106 closed

[2018-10-19 04:57] ericp96 opened #107 "Server only dependencies breaking ui build"
I have some dependencies that only work in node, as a result it seems to break the ui webpack build?  I'm not quite sure how to repair:

[code]

Thoughts?

[2018-10-19 13:52] Tyki opened #108 "Demo is not working"
https://demo.reactpwa.com/ leads to a 502 error

[2018-10-21 02:39] zwl1619 opened #109 "Do I need next.js for server side rendering when using react-pwa?"
Do I need  to install next.js for server side rendering when using react-pwa?

[2018-10-21 09:51] zwl1619 opened #110 "Can I use react-pwa with react-apollo and apollo-server?"
Can I use react-pwa with [react-apollo](https://github.com/apollographql/react-apollo) and [apollo-server](https://github.com/apollographql/apollo-server)?

[2018-10-22 06:28] tirthbodawala commented on #109
@zwl1619 Well that is interested, I have never tried it integrating with next.js but we have our own Server Side Rendering, are you facing any issues with that?

[2018-10-22 06:34] yash-thakur commented on #109
No you do not need next.js for Server side rendering. It is inbuilt and can be turned **on** and **off** using the [configuration](https://www.reactpwa.com/docs/en/configuration.html) file.

[2018-10-22 12:31] #109 closed

[2018-10-22 13:53] atapatel commented on #110
@zwl1619  why you need reac-apollo and apollo-server?

[2018-10-22 21:29] jld3103 commented on #74
I tried do do it the normal way as described in the official documentation and I got it to work.
I don't know where your problems are...

[2018-10-22 21:31] jld3103 commented on #74
I looked again at your error and I know what it is:
react-pwa doesn't let you serve your own service worker (that's why you get the MIME type error).
FIX:
I used my web server to handle this special file.

[2018-10-22 21:45] jld3103 opened #111 "Serve custom files (#74)"
In #74 @ThunderBoltEngineer tried to use FCM. It didn't worked out of the box because FCM trys to register a service worker under /firebase-messaging-sw.js
My point is that it's not possible to serve a custom file.
Maybe someone could make a respond to this and make a PR or I'll do it in the future.
(I think the PR should be for pwajs)

@Atyantik thanks for your great project.

[2018-10-23 06:59] yash-thakur commented on #111
@jld3103 We can serve custom files by making a folder named "public" inside the src folder.
This will place all the files as public in the root directory.

[2018-10-23 08:20] jld3103 commented on #111
Where is the documentation for that?
Think there was no documentation for that, but good to know this feature.

[2018-10-23 08:29] jld3103 commented on #111
Thanks!
It worked!

[2018-10-23 08:30] jld3103 commented on #74
See [here](https://github.com/Atyantik/react-pwa/issues/111#issuecomment-432119172) how to fix this issue.

[2018-10-23 08:30] #111 closed

[2018-10-23 09:05] tirthbodawala commented on #111
@jld3103 Apologies we still need to document it. The project has become big and needs time for documentation. Any help is appreciated.

[2018-10-28 07:47] kael opened #112 "Refused to execute script because its MIME type ('text/html') is not executable"
Trying to run the code out of the box with `npm start` fails, the `<body>`of the page is not displayed.

Using Linux Chrome 70 and Android Chrome Canary 72, the following error message is displayed in the console:

`Refused to execute script from 'https://[hostname]/js/[hash].js' because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled`.

Firefox displays:

`

[2018-10-29 10:41] tirthbodawala commented on #112
@kael is it dev environment or production. I want to know if this happens when you run `npm start` or `npm run build && node dist/server.js` ?

Thanks

[2018-10-29 10:42] tirthbodawala commented on #108
@Tyki yes we are working on the demo at the moment. we are coming with not just a hello world program but more than that to explain what ReactPWA can do.

![image](https://user-images.githubusercontent.com/11286271/47644909-74251f00-db95-11e8-8722-8ae3ca3ee51d.png)

[2018-10-29 10:43] tirthbodawala commented on #107
@ericp96 was this issue solved?

[2018-10-29 12:10] tirthbodawala commented on #112
@kael I tested both `npm start` and `npm build` and everything is working as expected. Please re-open the issue with more details.

[2018-10-29 12:10] #112 closed

[2018-10-29 12:11] tirthbodawala commented on #112
@kael can you please upgrade to @pawjs/pawjs ^2.2.4 and try again?

[2018-10-29 12:37] ericp96 commented on #107
Nope, not yet. I'll try to take a deeper dive sometime soon, however between other higher priorities such as a new baby, I haven't had the time to look at it.

Any inspiration would be appreciated. I think it might have something to do with the webpack configuration needing to be different for the server so this exception is not thrown, but I'm not certain how.

[2018-10-29 13:03] tirthbodawala commented on #107
Which OS and Node versions are you using? Cause the error seems to be from node-pre-gyp which may be causing the issue.

PS: Congrats on the baby. Happy for you.

[2018-10-30 06:43] ericp96 commented on #107
Thanks, Tirth!

I'm not entirely certain what is going on here, it's definitely a build thing.  I'm putting the application inside a node 10 docker image.  My guess is that webpack-dev-server is trying to do a client build and can't because it's trying to do something with grpc which is a Node.js thing and not a client side thing.  As a result I think it's generating the exception mentioned.

I'm

[2018-11-01 22:02] ev-dev opened #115 "Document root-level component options"
Is there a simple way to inject root-level (parent of react-router) providers generally? Needed for all sorts of use cases like apollo client, react context, etc.

If so I'd be happy to help document this, I just began digging into the Client class hoping to find some way to do this.

[2018-11-02 11:20] tirthbodawala commented on #115
Thanks, @ev-dev.

Well, you can add root component as you can with any react-router-config so with react-pwa you can do the below in `src/routes.js`
[code]

I have not tested the above. Can you please check if the above works as expected?

[2018-11-02 11:26] #103 closed, assigned to tirthbodawala

[2018-11-08 09:31] sultanaslam opened #116 "Cannot find module '@pawjs/srcset/webpack'"
After Installing npm packages when run the command **npm start** getting this error

  module.js:557
    throw err;
    ^

Error: Cannot find module '@pawjs/srcset/webpack'
    at Function.Module._resolveFilename (module.js:555:15)
    at Function.Module._load (module.js:482:25)
    at Module.require (module.js:604:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (/mnt/c/Use

[2018-11-13 19:31] kumarsandeep91 opened #117 "Environment Variable Support similar to React"
Is there a way to declare environment variables without installing `dotenv` npm package.
**React** did this in a very nice fashion by declaring env variables in `.env.local` and `.env.production` file.

[2018-11-21 07:05] tirthbodawala commented on #117
Well, we do have pawconfig.json for what is the specific use case you are looking at?

[2018-11-29 10:43] tirthbodawala commented on #116
@sultanaslam this has been solved. Sorry was solved all along the same day but missed to update it.

[2018-11-29 10:43] #116 closed

[2018-12-20 15:59] nodeEnthu opened #118 "Adding support for api routes"
Hello react-pwa team ... thanks for your hard work creating this repo:

I realize that you could make a fetch call inside the pages dir by adding a fetch call like `        fetch('https://www.atyantik.com/wp-json/wp/v2/posts/?per_page=4&_fields[]=title&_fields[]=excerpt&_fields[]=jetpack_featured_media_url')
` .. however that is a third party api.

I have two following questions:
1) I might be mis

[2018-12-20 18:35] yash-thakur commented on #118
Hello @nodeEnthu, you can have a look at this [repository](https://github.com/yash-thakur/airbeds) as to how internal api's are made.

[2018-12-21 00:46] nodeEnthu commented on #118
thanks

[2018-12-21 01:01] nodeEnthu commented on #118
for my second question... is there a way to refer variables  inside the config file (pawconfig.json)  in the code .. depending upon which env it is..

[2018-12-21 05:44] nodeEnthu commented on #117
to chime in .. I have similar issue where I want to load `port + host name` dependent on an environment I am in.  Feels like I am missing something  that is possibly already present

[2018-12-21 06:14] yash-thakur commented on #118
@nodeEnthu I am not clear about your question completely.

But if you want to use different config for development and the other one for production. For Eg: SSR during development is not needed, in that case you can use it in a way mentioned in the examples. In examples we are using separate config file for production.

Repository: [Example PawJS AntDesign](https://github.com/Atyantik/example-pawj

[2018-12-21 06:19] yash-thakur commented on #117
@nodeEnthu As per my knowledge your case matches with the one heroku uses. Heroku uses dynamic port for the node app and if static port is provided your app wont work. For that use case we had modified our code to take the port from the environment first but if it is not provided then use the port mentioned by the user in the config file.

Here is a [link](https://www.reactpwa.com/docs/en/deployin

[2018-12-23 11:33] kumarsandeep91 commented on #117
lets say i have a api endpoint **https://api.renthobo.com/prod/xxxx** for production and  **https://localhost:3002/test/xxxx** for local and i wanted to use these endpoint with respect to environment i.e local, staging and production. in code i wanted to do something like this `let endpoint = process.env.API_END_POINT`

[2018-12-27 12:02] aaaleeex7 commented on #42
Hey i have the same issue with a react project on windows with docker/docker-compose. My whole node_modules foulder is mounted into the virtual machine so i dont have access to the node_modules folder to edit the dev.babel.js file for hot-reloading. Is there any possible soulution?

[2018-12-27 12:03] tirthbodawala commented on #42
@aaaleeex7  which version of ReactPWA are you using?

[2018-12-27 12:04] #118 closed

[2018-12-27 12:38] aaaleeex7 commented on #42
@tirthbodawala create-react-app is v2.1.1

[2019-01-02 17:48] ldevalbray commented on #117
I agree, this would be useful for me as well ! :)

[2019-01-02 17:54] ldevalbray opened #120 "Cannot find module React"
Hello, I have got this issue when starting my app with react-pwa :

[code]

When I try to install react, an error is thrown saying there are multiple copies of React (I imagine, one from react-pwa). How comes it does not find it the first time ?

Here is my package.json for now (did not edit the infos linking to your website for now) :

[code]

Thank you very much !

[2019-01-02 17:56] ldevalbray opened #121 "Using sass files"
In the documentation, you don't specify how to use the sass middleware.
I followed those steps : https://www.reactpwa.com/docs/en/plugin-sass.html
But importing the .scss files like a normal .css file does not work. Any idea ?

[2019-01-02 18:05] ldevalbray opened #122 "Compress the files with gzip"
I see that the files are not compressed with gzip by react-pwa webpack config. Would adding it be possible with ssr ? Moreover, is there a way to edit webpack config without editing react-pwa files in node-modules directly ? (I saw there is the webpack.js file but it seems that only adding new modules is possible)

[2019-01-03 06:49] tirthbodawala commented on #122
Hey, @ldevalbray there are hooks for extending the WebPack config. You might want to check the plugin https://github.com/Atyantik/pawjs/tree/master/packages/pawjs-sass to see extending of webpack plugin. It will allow you to modify webpack as per your needs.

[2019-01-03 06:53] tirthbodawala commented on #121
@ldevalbray you might want to check the file https://github.com/Atyantik/react-pwa/blob/master/src/client.js
It shows you need to import sass inside client.js or if the sass is component specific you can include it inside a particular component, just like normal css. Example:

[code]

Hope that answers your question

[2019-01-03 06:53] #121 closed

[2019-01-03 07:01] tirthbodawala commented on #117
@kumarsandeep91  & @kumarsandeep91 I shall create a blog or example for you. Apologies for the delay.

[2019-01-03 07:10] tirthbodawala commented on #122
Well, we did add the compression in the previous version, but then decided to leave it to user configuration. The issue we faced was double gzipping encryption, one from the expressjs server and another from the nginx server. We decided to remove the default gzip compression from the server and leave it to the user to handle it.
But I guess we can definitely have a plugin that can be added by the

[2019-01-03 07:10] #122 closed

[2019-01-03 07:10] tirthbodawala commented on #120
I shall check that. Thanks for reporting it.

[2019-01-03 07:15] tirthbodawala commented on #115
@ev-dev sorry for the really late reply:
You might want to check our plugin @pawjs/redux
https://github.com/Atyantik/pawjs/blob/master/packages/pawjs-redux/src/server.js
https://github.com/Atyantik/pawjs/blob/master/packages/pawjs-redux/src/client.js

We have added the redux provider at the root level, you can also access the hooks in a similar manner in your custom project.

[2019-01-04 21:51] ldevalbray commented on #122
Yes this is exactly what I would be looking for !
When you say "leave it to user configuration", what do you mean, exactly ? Where are the configurations supposed to take place ? In webpack.js ? Or directly in react pwa files (in node modules). I guess, more documentations about this would be useful as well

[2019-01-04 21:56] ldevalbray commented on #121
I tried this way, but I get this error : "“You may need an appropriate loader to handle this file type”. Even when I followed your steps when adding the sass plugin

[2019-01-04 21:59] ldevalbray commented on #120
Thank you for your time and reactivity ! Do you think you would be able to recreate the issue ?
If it could help, I could give you access to my actual code. I am quite stuck ^^

[2019-01-05 12:09] kumarsandeep91 commented on #117
@tirthbodawala That would be great :+1:

[2019-01-23 08:02] aaayushsingh opened #123 "Delayed css loading in pages"
looking into the existing issues, I found only this

When loading a page, for a split second, pages are displayed without css. Then css loads. How to fix this

[2019-01-23 08:05] aaayushsingh opened #124 "[Help Wanted] disable overscroll"
https://developers.google.com/web/updates/2017/11/overscroll-behavior#disablp2r

Need help with Implementing this. I tried to add this to global css

[code]
but this doesn't seen to work

[2019-01-23 08:15] aaayushsingh commented on #124
[code]

this did it

[2019-01-23 08:15] #124 closed

[2019-01-23 11:19] tirthbodawala commented on #123
@aaayushsingh during development mode, CSS is loaded ASYNC only (via JavaScript) but if you set the option
[code]

Then in production mode, it will load CSS in sync manner and thus there won't be any delayed loading of css. Hope this answers your question.

[2019-01-24 23:03] sinner commented on #97
I'm still having this problem!

[2019-01-31 08:39] iamdarknight commented on #43
Facing similar issue. Using npm. Error is

ERROR in ./src/resources/img/dog-cat.jpg?sizes=1200w+1000w+800w+600w+400w&placeholder                                                                                                            Module build failed (from ./node_modules/pwa-srcset-loader/index.js):

[2019-01-31 23:45] naveenreddyin opened #125 "Using unit test"
Hi, How could I use testing with this?

[2019-01-31 23:46] naveenreddyin opened #126 "Socket.io"
Hi,
How could I use socket.io server functionality with this? I think websockets should be mentioned in the documentation, just a suggestion! :)

[2019-02-04 08:13] nodeEnthu commented on #117
@tirthbodawala  could you please provide an example .. thanks for your time

[2019-02-09 07:02] alsco77 commented on #14
Hey guys, just wondering if anyone has got a solution for this? Or if it did get implemented in PawJS v2? Would like to host with firebase but pretty confused (++ this is my first PWA)

[2019-02-18 13:49] tirthbodawala commented on #120
@ldevalbray I was able to recreate this issue and this is caused as PawJS already has its own React version installed.

Once can get it solved by the following steps:
1) remove react from package.json
[code]
2) Remove `package-lock.json` and `node_modules`
[code]

3) Re-Install all packages
[code]

Upgrading to latest pawjs version is also a good idea so
[code]

Hope the above helps

[2019-02-18 13:49] #120 closed

[2019-02-21 11:56] LeonardoManzella commented on #104
Hi @YasiruDev
I am currently experiencing the same issue. with the master repository version using the default config.

When I access to https://demo.reactpwa.com in my smartphone it works fine, but it doesn't work when running locally (on my netbook) and browsing to `netbook_ip:port` from my smartphone

This is my package.json:

This is my pawconfig.json:

**OS:** Ubuntu 18.04.1 LTS
**Hardare Con

[2019-02-22 22:19] tongrow opened #128 "FATAL ERROR: JavaScript heap out of memory, allocation failure"
Hello, I have got this issue when build my app:

[code]

**It can be reproduced from scratch**, just use react-pwa@2.2.3 or 2.2.2, or 2.1.4 from master branch.

This error appears with:
npm 6.4.1
node 10.15.1

With node 8.11.2 you can't see the error, but script starts using 1GB of RAM and stay at line:
`clean-webpack-plugin: C:\JavaCodes\MyProject\react-pwa\dist has been removed.`
Also I catched

[2019-02-23 12:37] tongrow commented on #128
From `report.20190222.232148.9428.001.json`

[code]

[2019-02-23 12:40] tongrow commented on #128
@yash-thakur @ldevalbray

[2019-02-25 09:10] kumarsandeep91 commented on #117
Hey any update on this one ? kindly give some time to this cause.

[2019-03-06 14:40] sinner opened #129 "What if I would like to apply some customizations on webpack.config.json"
I would like to apply some customizations on webpack.config.json such as defining aliases to some specific directories and other things. It would be fine to have a section in the documentation explaining how to do that.

[2019-03-06 14:40] sinner opened #130 "S3"

[2019-03-06 14:43] sinner opened #131 "Documentation to add other kind of deployment process"
Some of the processes we use to deploy React.js applications is building the application and after that load the build to Amazon S3 and serve it as a static site. There is no documentation nor a command to only build the application using all the great feature you have but we are not going to use (SSR, SEO...).

[2019-03-06 14:43] #130 closed

[2019-03-12 00:42] fsiatama commented on #128
in package.json

replace

[code]

[2019-03-12 02:47] boas19910115 opened #133 "pngquant can't be build and libpng-dev is not existed in npm."
[code]

[2019-03-29 04:39] patelmayankce opened #137 "how to integrate react-intl"
How to add [react-intl](https://github.com/yahoo/react-intl) or any other third party react plugins in current setup?

[2019-03-30 15:43] henryqrm commented on #137
and be SEO friendly

[2019-04-03 11:54] DanielKwasniewski95 opened #138 "Run app over https"
Hello,

I want to run application written in reactPWA with use https. I don't know how to do this, beacuse I got this application from diffrent person and also I don't have knowledge in reactPWA. I have only skills in js and basic node.js. Is there enybody who can help me and give me
detailed instruction about using https in reactPWA.

[2019-04-03 12:47] tirthbodawala commented on #138
Hello @DanielKwasniewski95,
We can assist you with any problems you are facing please join our gitter channel
[https://gitter.im/react-pwa/Lobby](https://gitter.im/react-pwa/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link)

Also running app over https requires simple configuration with nginx or any other web server.
applications like:
https://www.eventerprise.com
https://rentho

[2019-04-03 12:47] #138 closed

[2019-05-05 05:26] oongniel commented on #137
check out:
https://github.com/Atyantik/hn-reactpwa/blob/master/src/server.js
https://github.com/Atyantik/hn-reactpwa/blob/master/src/client.js

I have wrapped AppShell around the application, that should be the ideal way of doing it.

[2019-05-07 12:24] #137 closed

[2019-05-08 21:13] goldylucks opened #140 "add <link> to <head> when SSR is disabled"
Thanks a lot for the project!

I've disabled SSR and I want to add some `<link>` tags to the `<head>` - ATM I need it for a google font for material ui, but I'm sure I'll need more modifications anyway.

I've searched this repo and the `pawjs` repo and didn't find documentation or examples for that.

I'm guessing it's ... done through the hooks? If so, where can I see info on that?

I'd be happy t

[2019-05-09 05:58] tirthbodawala commented on #140
@goldylucks
Thanks for the question, please have a look at the below code, even if you have disabled SSR, while building the App, the server.js is used and server hooks are used to create the static HTML thus below code help you achieve what you are looking for:

File: <Project Root>/src/server.js
[code]

[2019-05-09 05:59] tirthbodawala commented on #133
@boas19910115 Can you please mention details about your operating system and working environment along with node version?

[2019-05-09 06:38] tirthbodawala commented on #131
@sinner Sorry for the really late reply./ The pawconfig.js has an option to build it as a static site

[code]

This will generate a static site that is deployable to any other platform as S3

[2019-05-09 06:38] #131 closed

[2019-05-09 06:39] tirthbodawala commented on #129
@sinner  & @Nedja995 I understand your concern, this can be done via hooks, I will write a doc for it soon.
Again, apologies for late reply.

[2019-05-09 21:55] goldylucks commented on #140
Thanks @tirthbodawala , worked like a charm!

Couple of suggestions to avoid future questions:

1. add somewhere in the docs that `server.js` is used even when SSR is off
1. add the google font for material ui in your [material ui example](https://github.com/Atyantik/example-pawjs-material-ui)

Thoughts?

[2019-05-09 21:55] #140 closed

[2019-05-09 22:00] goldylucks opened #141 "add mobx example"
I'm using this project and want to add mobx for state management.

I'm happy to PR documentation/example with some guidance!

Thoughts? @tirthbodawala

[2019-05-09 22:09] goldylucks commented on #141
FYI: According to the [mobx docs](https://mobx.js.org/best/stateless-HMR.html#make-sure-your-top-level-component-is-a-stateful-observer), for hot reload to work we neet to make the root component a stateful observer.

[2019-05-10 05:32] tirthbodawala commented on #141
@goldylucks I see MobX is very similar to Redux, is there any chance you can look at
https://github.com/Atyantik/pawjs/tree/master/packages/pawjs-redux
and can integrate MobX?

[2019-05-10 05:33] tirthbodawala commented on #140
@goldylucks Good idea. Can absolutely do that.

[2019-05-10 13:16] goldylucks commented on #141
@tirthbodawala I never done SSR on mobx, and haven't found a good tutorial or an updated repo with an example.

I got mobx + hot reload working on my SPA app without no SSR. I can make a PR/repo for that, and maybe someone in the future will pick up the gauntlet for mobx+SSR.

[2019-05-11 05:31] goldylucks opened #142 "add HTTPS support for dev"
I'm using features that require https. I've tried these combinations to start the dev server without success:

[code]

Also looked into `pawconfig.json` and there's no mention for `https`.

Webpack dev server has that option built in AFAIK. How can we implement this?

Happy to PR with some guidance :)

[2019-05-11 07:28] goldylucks opened #143 "ENV variables not working"
I've tried in the 4 ways I've seen in the [docs] (https://www.reactpwa.com/docs/en/working-with-environment-variables.html), and every time `process.env` is an empty object.

Here's a minimal [repo](https://github.com/goldylucks/react-pwa), steps to reproduce:
[code]

I also tried the downloading latest pawjs with `$ npm i @pawjs/pawjs@latest` with same results.

@tirthbodawala am I missing someth

[2019-05-11 13:06] tirthbodawala commented on #143
Let me check this. I won't be able to get back to you till next 30 hours,
but I will try my best to look into all the issues.

On Sat, 11 May, 2019, 12:58 PM Adam Goldman, <notifications@github.com>
wrote:

[2019-05-13 06:59] lamvananh opened #144 "set global varibal for internal API"
Hi, How can i declare global variable in src/api/index.js ?
I has declare my variable as "var myItem = []" at the top of file. But every time a route triggerd, it's value always be reseted to initial ([] in this case)

[2019-05-13 08:20] tirthbodawala commented on #144
@lamvananh you cannot do it like that. Please consider using Redux instead.

[2019-05-13 08:20] #144 closed

[2019-05-13 17:49] lamvananh commented on #144
Hi, could you show me how to dispatch and consume a redux action in this project ?. I  don't find this in the document, it's talking about the config step only

[2019-05-15 13:40] goldylucks opened #145 "Change route outside a component"
I'm in SPA & no SSR mode, and want to change the route outside a component.
With react router 4, the way to do it is pass a history object to the browser, and then import it wherever you need it and call actions on it to change the route, as discussed [in their repo](https://github.com/ReactTraining/react-router/issues/5237#issuecomment-308245424)

In react-pwa the router config is abstracted away

[2019-05-16 15:44] tirthbodawala commented on #143
@goldylucks I have corrected the code in branch `@pawjs/pawjs@ts` I will do a final release as well, but the branch is very stable. Please let me know if that works for you.

[2019-05-18 05:25] patelmayankce commented on #144
@lamvananh , you can checkout https://github.com/Atyantik/example-pawjs-redux

[2019-05-21 17:36] goldylucks commented on #143
hey @tirthbodawala thanks for the update!

I switched to CRA2 so won't be needing this. Thanks a ton for all your time and help man!

[2019-05-21 17:36] #143 closed

[2019-05-27 14:52] hobadams opened #148 "Change Default Meta Data"
Hey,

Thanks for building such a nice boilerplate! I'm really enjoying developing with it.

I'm trying to work out how to change some of the default meta data.

`<meta name="author" content="Atyantik Technologies Private Limited">` & `<meta name="robots" content="all">`

How to I override these?

Thanks

[2019-05-27 15:05] tirthbodawala commented on #148
@hobadams Thanks for your kind words.

For solving your issue, you can override values with seoSchema & pwaSchema as below in
`src/routes.js`

[code]

Below is the default meta-list we use.
[code]

Override as you see fit. Let me know if you need more assistance. You can also join our Gitter channel
[https://gitter.im/react-pwa/Lobby/](https://gitter.im/react-pwa/Lobby/) for quick assistance.

[2019-05-27 15:05] #148 closed

[2019-05-27 15:59] hobadams commented on #148
Thanks so so much for the response.

[2019-06-10 08:42] santalucial commented on #107
Same issue trying to add internal api's using mongoose, webpack breaks the serverside code

[2019-06-10 10:08] tirthbodawala commented on #107
@santalucial Can you please share a demo repo or error code logs?

[2019-06-11 12:15] santalucial commented on #107
@tirthbodawala i've tried to replicate on a different pc but it seems it can compile successfully, gonna report back next week when i get my hands back on the pc where the issue arose

[2019-06-17 10:33] loyboy opened #150 "App doesn't start on windows machine with error (Cannot find module '../build/Release/sharp.node)"
I get this error when I try to run on 32 bit system. Windows 7. You guys should have written a documentation stating it doesn't run on 32 bit systems

ERROR in ./src/resources/img/dog-cat.jpg?sizes=1200w+1000w+800w+600w+400w&placeholder Module build failed (from ./node_modules/pwa-srcset-loader/index.js): Error: The specified module could not be found. \?\C:\Users\Manaska\Applications\Clients\PAG\

[2019-06-17 13:21] tirthbodawala commented on #150
@loyboy I have never tested it on 32Bit windows system will test it if I get a chance. Till then can definitely add to the documentation.
Apologies it didn't work for you.

[2019-06-24 08:42] santalucial commented on #107
@tirthbodawala  it appears my issue was unrelated, due to the "test" script not working(it doesn't work even without the package i added) and complaining about the dotenv package and suggesting to install another one that eventually breaks the build completely

[2019-06-24 09:37] santalucial opened #151 "dockerfile deployment"
i've seen you have worked with docker in the past, but i could not find a solution to the issue i'm experiencing, i'm using the following dockerfile to deploy the demo as is but i end up with a broken build and any page returns routing errors

![image](https://user-images.githubusercontent.com/18719694/60008327-2d2ff080-9674-11e9-82af-a893f4f78652.png)

latest node images are unable to complete th

[2019-07-08 18:19] #14 closed

[2019-07-20 18:55] itgelo opened #153 "Page 404 and set class in html body"
How to override default page 404?
can i set class in body tag?

[2019-08-13 11:38] itgelo commented on #151
remove `src` in .dockerignore file

[2019-08-14 10:47] santalucial commented on #151
omg why, didn't even notice there was a dockerignore file as i added the dockerfile myself

[2019-09-21 13:58] hobadams commented on #129
Hey @tirthbodawala are these docs now ready? Thanks

[2019-09-26 23:18] nodeEnthu opened #157 "Access to cookie object on server side"
Hi,
Might be silly question

But how can I access the cookie object on server side

in the `pages/` dir I am logging the req object and it looks like this

[code]

[2019-09-30 17:24] nodeEnthu commented on #157
bump!

[2019-10-01 04:50] tirthbodawala commented on #157
@nodeEnthu You will probably need to implement universal cookies and their respective provider for client and server. We have already used it in one of our projects. Let me share it with you.

[2019-10-02 07:08] nodeEnthu opened #158 "Warning in console: Upgrade Loadable"
<img width="516" alt="Screen Shot 2019-10-01 at 11 43 11 PM" src="https://user-images.githubusercontent.com/9494357/66024402-a1b2d080-e4a8-11e9-9d21-2df94e37607f.png">

[2019-10-02 07:09] nodeEnthu commented on #157
think you forgot to post the link .. never mind I got what you are saying

[2019-10-02 07:09] #157 closed

[2019-10-29 10:15] FibreFoX commented on #151
@santalucial is this issue fixed? If so, you might wanna close this issue 😃

[2019-10-29 10:43] #151 closed

[2019-11-17 18:32] calumjames commented on #150
This is happening on my Mac as well. There are errors when installing the sharp-node package with Yarn, then I see this error when trying to start the app:

[2019-12-09 17:05] gino8080 commented on #142
up i need it also

[2019-12-10 22:18] bonyanteam opened #164 "Unexpected identifier when using webpack-node-externals"
I used webpack-node-externals to use express in the program
but an "Unexpected identifier" error is displayed when executing
@tirthbodawala

![error](https://user-images.githubusercontent.com/30001109/70574000-498aff80-1bb8-11ea-88e7-ed29e343efb7.png)

[2019-12-11 06:27] tirthbodawala commented on #164
Hey, @bonyanteam I think this issue arises when you have multiple versions of React installed, can you please try the following?

(commands for bash shell)
[code]
And then restart the application?
Basically, removing `node_modules` `package-lock.json`, re-installing the modules and thus restarting the app.

[2019-12-11 06:29] tirthbodawala commented on #158
@nodeEnthu Thanks for raising the issue, we have solved this issue with latest implementation of @pawjs/pawjs.
Please check the outdated packages via `npm outdated` and upgrade accordingly or you can simply upgrade to `npm i @pawjs/pawjs@next`

[2019-12-11 06:29] #158 closed

[2019-12-11 06:33] tirthbodawala commented on #153
@itgelo you can definitely set default 404 Page, via `src/routes.tsx` or `src/routes.js`
Please use something like below:
[code]

Regarding body class, right now there is no such option, but we are adding that to upcoming releases:

![image](https://user-images.githubusercontent.com/11286271/70597373-3014a280-1c0e-11ea-8cea-4c5212888acd.png)

[2019-12-11 06:33] #153 closed

[2019-12-11 06:34] tirthbodawala commented on #150
@calumjames please refer to https://github.com/lovell/sharp/blob/master/docs/install.md

If you do not want to use @pawjs/srcset for image optimizations then you can simply comment it out in `src/webpack`

[2019-12-11 06:34] #150 closed

[2019-12-11 06:36] tirthbodawala commented on #145
@goldylucks with reactpwa you can access the history in use via `window.PAW_HISTORY` would that help?
Sorry for late reply.

[2019-12-11 06:38] tirthbodawala commented on #142
@goldylucks @gino8080  we are adding a provision for the same, but till then I would recommend using nginx reverse proxy with SSL config in nginx.

[2019-12-11 06:38] #133 closed

[2019-12-11 06:39] #128 closed

[2019-12-11 06:40] #104 closed

[2019-12-11 08:32] alhiro opened #165 "Run Build ReactPWA but only show like dir with item list folder"
Hello, i am interesting with this boilerplate.
But when i am trying to build for production only show like dir with list folder.

I am trying too with default create-react-app and running well.

I am use boilerplate in this git https://github.com/Atyantik/react-pwa and npm run build.
When trying to access it with server not display well like in development.
<img width="872" alt="Screen Shot 2019-1

[2019-12-11 09:27] tirthbodawala commented on #165
Hey @alhiro you need to run server.js via node, i.e.
[code]

Once you run server.js, then the node server will start at the port specified.

[2019-12-11 09:27] #165 closed

[2019-12-11 09:31] bonyanteam commented on #164
I did, but the error didn't change
In general, what should I do to use express in the backend?
@tirthbodawala

[2019-12-11 09:37] tirthbodawala commented on #164
@bonyanteam can you please share your `package.json`, npm version, node version, OS details?

[2019-12-11 09:43] bonyanteam commented on #164
npm: 6.13.1
node:10.15.0
////////////////////////
package.json:

{
  "name": "react-pwa",
  "version": "2.2.7",
  "description": "A highly scalable, Progressive Web Application foundation with the best Developer Experience (DX).",
  "scripts": {
    "start": "pawjs --no-cache --env=development start",
    "build": "node --max_old_space_size=4096  ./node_modules/.bin//../@pawjs/pawjs/paw.js --no-ca

[2019-12-11 09:47] tirthbodawala commented on #164
@bonyanteam I see, config and environment seems fine, I think it is `webpack-node-externals` Can you please share why do you want to use express in the project? for API?

[2019-12-11 09:49] bonyanteam commented on #164
build script generate dist folder successfully but i can't run "node server.js"
error appeared after i'm adding some code in webpack.js in src folder

![wp](https://user-images.githubusercontent.com/30001109/70610383-bafa9a80-1c18-11ea-9650-7e5437299e7e.png)

[2019-12-11 09:52] alhiro commented on #165
Awesome. It's working. Thank you so much!

[2019-12-11 09:54] bonyanteam commented on #164
Yes . I use Express to create the API

[2019-12-11 09:57] tirthbodawala commented on #164
@bonyanteam you should not do that, cause @pawjs/pawjs bundles everything in server.js and thus express excluding node-modules can cause a problem. If there is a specific scenario that you want to handle please join our Gitter channel: https://gitter.im/react-pwa/Lobby

I can explain to you how to create APIs with ExpressJS.

[2019-12-11 09:57] #164 closed

[2019-12-25 16:12] priyanshujain opened #166 "throwing Unhandled promise rejection error"
Please find the logs

[code]

[2019-12-25 16:26] priyanshujain commented on #166
It was due to old version of node. I mistakenly moved to 8.12.

[2019-12-25 16:26] #166 closed

[2019-12-30 13:14] egaleme opened #167 "async data"
Please what is the equivalent of getInitialProps in nextjs in ReactPwa

[2019-12-30 14:10] tirthbodawala commented on #167
@egaleme check out the file: https://github.com/Atyantik/react-pwa/blob/master/src/pages/guest.js#L40 for details kindly check the section of routes for `skeleton-loading` now this loadData loads data from the server and pass it on to component `component: () => import('../components/skeleton-loading'),`

Please check out the file https://github.com/Atyantik/react-pwa/blob/master/src/components/sk

[2019-12-30 14:10] #167 closed

[2019-12-30 16:06] egaleme commented on #167
Thanks it works. By the way why should anyone use ReactPwa against Nextjs. What are the advantages?

[2019-12-30 16:54] tirthbodawala commented on #167
SEO friendly, multidomain support, image optimizations, any library extend-abilty, no dependency build, docker friendly etc.. I never got a chance to 100% check the difference, but I will conduct a benchmark for performance as well.

[2019-12-31 07:41] egaleme commented on #167
Ok Cool. Looking forward to your benchmark.

[2019-12-31 07:44] egaleme commented on #167
How do implement context api for ssr in ReactPwa

[2020-01-06 02:54] 14rego opened #168 "Unable to `npm start` at all"
node 10.5
npm 6.1.0
Same errors on two different machines:
[code]

[2020-01-07 05:17] tirthbodawala commented on #168
@14rego which OS are you using?

[2020-01-07 15:04] 14rego commented on #168
@tirthbodawala OSX 10.15.2 on my laptop. Not exactly sure the build on the other, but similar or the same. I had the same trouble with newer versions of Node (13), so I backed down a few to be sure the problem wasn't that my Node was too new.

[2020-01-07 17:56] 14rego commented on #168
I didn't fix it, I just don't care enough to troubleshoot if I'm the only person with this problem. I'll use something else. Thanks anyway.

[2020-01-07 17:56] #168 closed

[2020-01-09 07:28] alhiro opened #169 "Can not get parameter in url"
Hai continue with this boilerplate.
I am trying get parameter in url route like this

{
    path: '/login:id',
    exact: true,
    component: () => import('../components/home'),
  },

i am test and get object empty;
actually i put param each route in App.js

How to create param here?

[2020-01-21 07:07] itgelo opened #171 "How to avoid blinking when switching between pages"

[2020-01-23 21:35] 14rego commented on #168
This was my issue, in case it's helpful to anyone else. But it's not actually fixed, only closed. Their solution is to change versions.
https://github.com/fsevents/fsevents/issues/181

[2020-01-23 21:37] 14rego commented on #168
This was my issue, FWIW. The issue is closed, but not fixed. It's suggested you update versions.
https://github.com/fsevents/fsevents/issues/181

[2020-01-28 02:49] satishblr opened #172 "how to integrate REST api with PWA? any examples of doing this would be greatly appreciated"

[2020-02-04 07:26] ericp96 commented on #129
I played around with this for a bit and it seems like you can do it from the webpack.js file with object mutation:

[code]

If you want to know what the config looks like, you can check out the [web.config.ts file](https://github.com/Atyantik/pawjs/blob/ac7e911ec4c565a6d1b8ca1062d2d08930c3ea3f/src/webpack/web.config.ts)

[2020-02-04 08:45] ericp96 commented on #172
You could use the server.js file to add routes to express.

server.js
[code]

[2020-02-11 14:58] irajneeshgupta opened #173 "Module build failed (from ./node_modules/webp-loader/index.js)"
Trying to run this project but seems like node_module issue. Please let me know what is wrong?
npm install , run successfully , after that it should run fine.
I am trying fresh and got this.

react-pwa# sudo npm start

=========================================================
  Compiling files.
  This may take time depending on the application size.
  Thank you for your patience.
=================

[2020-02-11 14:59] irajneeshgupta commented on #173
@tirthbodawala

[2020-02-12 04:49] tirthbodawala commented on #173
@irajneeshgupta can you please share your node and npm version as well?

[2020-02-12 04:50] tirthbodawala commented on #173
@irajneeshgupta I found a similar issue at cwebp https://github.com/imagemin/cwebp-bin/issues/36
Does that relate to your issue?

[2020-02-12 13:53] irajneeshgupta commented on #173
npm -v
6.13.6
 node -v
v13.8.0

[2020-02-12 14:35] irajneeshgupta commented on #173
resolved!
this issue has working solution.
https://github.com/imagemin/imagemin-webp/issues/22

[2020-02-12 14:35] #173 closed

[2020-02-18 20:37] satishblr commented on #172
I added
`POCKET_API_BASE=http://localhost:4000/api` this in my .env file
created a HttpService helper like this
`const httpRequest = (url, options) => {
  console.log(`fetching data from :' ${url}`)
  return fetch(url, options);
};

export default httpRequest;
`

and using this as this

`import httpRequest from "../_shared/HttpService";

const requestOptions = {
    method: 'POST',
    headers: {

[2020-02-18 20:44] ericp96 commented on #172
Sorry - are you getting a 404?  What's your server.js file look like?

[2020-02-19 04:19] satishblr commented on #172
this is my server.js file

`
import React from 'react';
import ReactPWAIcon from './resources/img/react-pwa.png';

export default class Server {
  // eslint-disable-next-line
  apply(serverHandler) {
    serverHandler.hooks.beforeHtmlRender.tapPromise('DSNPreCache', async (Application) => {
      const { htmlProps: { head } } = Application;
      head.push(<meta key="meta-theme-color" name="theme-

[2020-02-19 05:05] ericp96 commented on #172
You need to add an api by hooking into the express middleware:
[code]

[2020-02-19 15:00] satishblr commented on #172
But what if I have a separate express REST API project and want to make calls from PWA app? is there a  best practice? I am new to this PWA and using react-pwa boiler plate.

[2020-02-19 21:39] ericp96 commented on #172
You should be able to call it the same as you would any other PWA.

There is one caveat to this that I'm aware of and that's if you are using the server side rendering option where the target destination changes between the server and the client.  An example of this would be in a containerized environment (e.g. Docker) where localhost means something very different when done in a docker container

[2020-02-20 06:03] naga-RajanR commented on #41
@tirthbodawala I tried this updateSEO code  but it doesn't throw any error or reflect any changes in meta tags, so can you please help me with the issue in the following code
 const routes = [
  {
    path: '/',
    exact: true,
    component: () => import('../components/GuestUserPage/index'),
    preLoadData: async ({ match, api, updateSeo }) => {
      console.log('preloading')
      const { par

[2020-02-21 06:12] naga-RajanR commented on #62
Hi  I am using react-pwa version 2.2.8  in it I cant able to find hooks in (node-modules->paw-js). Can you please help me with this issue

[2020-02-27 09:53] NimaKaviyani opened #174 "Add audio file in ReactPWA"
I want to use the mp3 file in the project. But when I import the file I get the following error:

    Module parse failed: Unexpected character '�' (1:0)

I know this code can resolve the problem:
[code]
But how and where can I use webpack config for this file?

[2020-03-11 01:38] satishblr commented on #14
Hi All,

Can anyone tell me how to integrate Firebase into React-PWA?

can this be done with current version?

Thanks a lot
Satish

[2020-03-11 03:19] satishblr opened #175 "Firebase integration"
Hi

I am trying to use Firebase in react PWA app. I am not able to install
[code]

I get this error

npm ERR! grpc@1.24.2 install: `node-pre-gyp install --fallback-to-build --library=static_library`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the grpc@1.24.2 install script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

I would like to us

[2020-03-11 05:11] tirthbodawala commented on #175
@satishblr  can you please check the issue at node-pre-gyp?
https://github.com/mapbox/node-pre-gyp/issues/381

[2020-03-11 05:13] tirthbodawala commented on #174
Hi, @NimaKaviyani  apologies for the late reply, you can create a local plugin for your webpack configuration for more reference to webpack plugin check the plugin already created here:
https://github.com/Atyantik/pawjs/tree/master/packages/pawjs-image-optimizer
Filename: https://github.com/Atyantik/pawjs/blob/master/packages/pawjs-image-optimizer/webpack.js

[2020-03-11 05:13] #174 closed

[2020-03-12 01:52] satishblr commented on #175
Thanks for the link. I was behind a proxy I was able to install firebase but how do I add firebase plugin into ReactPwa? any example code on how to do it?

Thanks

[2020-03-22 21:32] matextrem commented on #175
@satishblr Did you find any workaround for this?

[2020-03-23 05:38] tirthbodawala commented on #175
@matextrem @satishblr If firebase acts similar at frontend and backend, It should work perfectly fine.
What and how are you expecting from firebase data?
Also, if you want me to write down a tutorial for the same, I can do that. Please let me know what you need in the tutorial to solve your issues?

[2020-03-23 19:50] matextrem commented on #175
I would like to have an approach about how to integrate firebase (auth and database) using this boilerplate.

Thanks!

[2020-03-27 19:38] x5engine commented on #128
for people using react-scripts

`    "build": "react-scripts --max_old_space_size=4096 build",
`
https://github.com/facebook/create-react-app/issues/4536

[2020-04-01 06:22] rei-gun opened #179 "lodash.js warning"
This warnign occurs "npm start" and building

`[BABEL] Note: The code generator has deoptimised the styling of C:\repo\node_modules\lodash\lodash.js as it exceeds the max of 500KB.`

Is there any way to fix it?

[2020-04-01 06:46] tirthbodawala commented on #179
@rei-gun it is ok to ignore the warning. We are using lodash es6 modules in ReactPWA so the warning only goes for development mode.

[2020-04-06 06:16] #179 closed

[2020-04-06 06:22] rei-gun opened #180 "Add To Homescreen popup prompt disappeared"
Hello,

The little popup at the bottom which prompts user to add the PWA to their homescreen stopped working. It happened after I deleted a bunch of files but I don't know what caused it. I added a `manifest.json` file at some point but I've renamed it since.

[FolderStructure1](https://imgur.com/Gn6uDjX)
[FolderStructure2](https://imgur.com/a/bdX5Ftk)

I've uploaded pics of my folder structure. I

[2020-04-07 13:57] kien-pham opened #181 "Can't npm start"
Hello,

I got this issue when npm start

[code]

on the log file

[code]

[2020-05-03 03:05] faizannu opened #183 "Stuck at Applying patches..."
while running npm install it stuck at Applying patches...
same happen on running with sudo too

[2020-05-03 03:09] faizannu commented on #183
![Screenshot from 2020-05-03 08-37-12](https://user-images.githubusercontent.com/38948883/80897727-9911c980-8d19-11ea-92d0-1e6e9490aec9.png)

[2020-05-05 02:10] bcalik opened #184 "Upgrade guide required"
Description of this repo says "An upgradable boilerplate ...", but there isn't any upgrade guide available.

[2020-05-05 03:56] tirthbodawala commented on #184
Apologies for the same, I am working on Docs. But by upgradable, we mean,
you can upgrade from any version of PawJS (core library) to new version,
without breaking the application.

On Tue, 5 May, 2020, 7:40 AM Burak Çalık, <notifications@github.com> wrote:

[2020-05-05 04:03] bcalik commented on #184
Sorry I may still not be able to understand what actually "upgradable" refer to, thats sounds a little weird to me. For example package.json doesn't contain react library itself and pawjs core actually require react, and react itself may get a breaking change. So pawjs would bump the version to 4 from 3, and that is not upgradable.

[2020-05-05 04:16] tirthbodawala commented on #184
I undesratand, and that is a very good point actually, I am now planning to
move react as Peer Dependency, thus handled by user himself. Thank you for
pointing that out

On Tue, 5 May, 2020, 9:33 AM Burak Çalık, <notifications@github.com> wrote:

[2020-05-05 04:22] bcalik commented on #184
That was an example, I'm not really sure if you should move react as peer dependency or not. But thank you for your reply and interest.

[2020-05-05 04:25] tirthbodawala commented on #184
No, Thank you. I will see what term I should use as description so it
represents what it exactly does. It has been a valuable conversation

On Tue, 5 May, 2020, 9:52 AM Burak Çalık, <notifications@github.com> wrote:

[2020-05-09 16:32] sreeharicubet commented on #183
I too have the same issue....Is there any solution to rectify this?
Thank you!

[2020-05-19 16:59] pmbuban commented on #183
Having this issue as well

[2020-05-19 20:09] satishblr commented on #175
not yet

[2020-05-19 20:11] satishblr commented on #175
Thanks for the reply. sorry I was out. I am trying to integrate basic user authentication and integration within my app. so I don't have to write everything from scratch.

Any tutorial is greatly appreciated

Thanks

[2020-05-21 05:34] tirthbodawala commented on #183
@faizannu @sreeharicubet @pmbuban apologies for late reply, it was stuck due to synk patches. Have revemod it for for now. Please try with master code base.

[2020-05-21 05:34] #183 closed

[2020-05-29 08:08] kalandher opened #186 "not able to start server, installation was successfull"
getting below error when i do npm start

(node:2361) UnhandledPromiseRejectionWarning: TypeError: Promise.all(...).then(...).catch(...).finally is not a function
    at __webpack_exports__.default (webpack-internal:///./node_modules/@pawjs/pawjs/src/utils/loadable.ts:82:13)
    at Function.init [as preload] (webpack-internal:///./node_modules/@pawjs/pawjs/src/components/Loadable.tsx:46:13)
    at

[2020-06-04 12:21] #184 closed

[2020-06-05 17:22] adamcanray commented on #181
same issue.

[2020-06-06 05:46] tirthbodawala commented on #181
@adamcanray @kien-pham Can you please share the node version you are using?

[2020-06-06 05:55] tirthbodawala commented on #186
@kalandher please let me know your node and npm version

[2020-06-30 06:18] desaikalpesh34 opened #187 "npm start not working"
npm start not working
check screenshot i have  attached.
i am using node 6.9.0
![Screenshot_2](https://user-images.githubusercontent.com/10667017/86090393-a0f6ab80-bac7-11ea-9df4-d1712e985f5b.png)

[2020-07-05 16:56] michalko commented on #187
same

[2020-07-17 16:28] Sbrunelli433 opened #189 "npm start fails on Windows."
I believe this is a known bug, I see there are other open issues that have little to no feedback on this.. Opening a new issue to push the envelope.

Currently using node 12.14.0 64-bit executable.

![terminal](https://user-images.githubusercontent.com/49485252/87809108-6d828380-c820-11ea-964d-4f02b76f5d84.JPG)
![log](https://user-images.githubusercontent.com/49485252/87809110-6e1b1a00-c820-11ea-9

[2020-07-20 05:49] tirthbodawala commented on #189
Hi @Sbrunelli433,
thank you for pointing this out. Apologies, the last 2 weeks have been really busy. I will check this and get back to you at the soonest.

[2020-07-28 14:41] vassilux commented on #187
same for me, any idea ?

[2020-07-28 14:43] vassilux commented on #189
I got same and use node v10.15.3 in Windows 10
Any idea ?

[2020-08-05 14:59] vassilux opened #191 "build, missing index.html"
Hi,
I want to deploy into Apache web server, after  execute npm run build ther is not index..html into dist directory

Any idea ?

[2020-08-13 00:59] vijaykarani333 opened #192 "deployment guide on heroku"
Following this [guide](https://www.reactpwa.com/docs/en/deploying-to-heroku.html) trying to deploy the it on heroku since when I run it locally it, it didn't prompt me to "install" it  nor provide the install option like the live demo.
Any hit for the error. Thank you.

Build Seem Successful:
`

-----> Node.js app detected

-----> Creating runtime environment

       NPM_CONFIG_LOGLEVEL=error

[2020-08-15 11:09] shubham49 commented on #192
Heroku assigns PORT to node automatically so we don't need to specify PORT.
comment out the port from .prod.env
#PORT=3003

[2020-08-17 13:32] #192 closed

[2020-08-27 06:12] 4LostGreyWolf opened #193 "运行报错"
![FD2BE37E-782D-4dcd-86A4-37A514F48964](https://user-images.githubusercontent.com/20333205/91398798-5f883f80-e86f-11ea-8a65-e3d0d94d8c33.png)

 npm run start的时候报错

[2020-08-29 00:16] ajoslin103 opened #194 "React Confusion"
How do I use React with this framework?  I like all of the PAW parts for the boring parts of my app, but want to pull React for the code-heavy parts.

Thanks!

[2020-09-21 07:00] naga-RajanR opened #195 "500 (Internal Server Error)"
I am working on a project with react-pwa boilerplate, where I show different pages based on user login or not. I am using cookies to check whether the user login or not. This error comes only when user is not logged in. (i.e. Login Page). Can you please help me what am missing here.
![err3](https://user-images.githubusercontent.com/47595412/93739507-11642300-fc06-11ea-97bf-2ca0c2dd91a2.JPG)

[2020-09-21 07:06] tirthbodawala commented on #195
@naga-RajanR  what exactly is the 500 error? Does the terminal display any details regarding the same?

[2020-09-21 07:06] tirthbodawala commented on #194
@ajoslin103 the whole framework is build with React, you can simply use it in any file like:

[code]

[2020-09-21 07:06] #194 closed

[2020-09-21 07:07] tirthbodawala commented on #193
@4LostGreyWolf  It is an error we are aware of and are working on it. It is due to duplicator issue.

[2020-09-21 07:09] tirthbodawala commented on #191
@vassilux if you want to deploy it as static site, I would ask you to build it as a static site, change the env option
[code]

[2020-09-21 07:09] #191 closed

[2020-09-21 07:09] tirthbodawala commented on #189
@vassilux  Apologies this is issue faced due to Chokidar dependency in windows. We are working on it

[2020-09-21 07:09] #189 closed

[2020-09-21 07:10] tirthbodawala commented on #186
Closing due to inactivity

[2020-09-21 07:10] #186 closed

[2020-09-21 07:11] #172 closed

[2020-09-21 08:54] naga-RajanR commented on #195
@tirthbodawala no it shows a blank page like this
![err4](https://user-images.githubusercontent.com/47595412/93747558-83dbff80-fc14-11ea-9cf7-69cb69973f8b.JPG)

and in console am getting this
![err6](https://user-images.githubusercontent.com/47595412/93748421-e08bea00-fc15-11ea-9b2c-f0b153848766.JPG)

[2020-09-21 09:11] tirthbodawala commented on #195
@naga-RajanR Please share the output of the terminal. The 500 error indicates that something you are using is throwing error with nodejs script that is trying to run it. Check your CMD/Terminal/iTerm for more details.

[2020-09-21 09:30] naga-RajanR commented on #195
yeah sure
![err7](https://user-images.githubusercontent.com/47595412/93751585-efc16680-fc1a-11ea-9052-54c74205e8ae.JPG)

and this is that file am getting error

<html lang="en-US" dir="ltr" class="" data-reactroot=""><head><title>Bazaartrack: An App for you to buy and sell products</title><script>var loadPJS=function(e,a){var n=document.createElement("script");n.src=e,n.onload=a,n.onreadystatechan

[2020-10-14 12:40] akunal1 opened #196 ""npm start" is not working"
while I am trying to run the project I am getting bellow error.

Please note : I have not done any changes to project and I am running code from master branch . I tried with yarn also .
node: 12.19.0v

**ERROR:**
[code]

[2020-10-18 14:49] p32929 commented on #196
I'm also having the same problem

[2020-10-18 15:17] akunal1 commented on #196
If you are looking for installable simple react JS PWA with typescript , have a look into :
https://github.com/akunal1/react-js-typescript-boilerplate-pwa

[2020-10-19 10:00] tirthbodawala commented on #196
Apologies,
I am a bit occupied as of now, I am aware of the issue on Windows. I will
look into it this weekend.

On Sun, Oct 18, 2020 at 8:47 PM akunal1 <notifications@github.com> wrote:

--
Tirth Bodawala
*Founder*
*Atyantik Technologies*
w: www.atyantik.com  e: tirthbodawala@atyantik.com

[2020-10-22 14:48] amarshahaji commented on #196
I have resolve the same issue with writing the chokidar.js file code inside self invocable function.
It may works for you also
(function(){
var v3Err;
try {
	module.exports = require("chokidar");
	return;
} catch(e) {
	v3Err = e;
}

var v2Err;
try {
	module.exports = require("watchpack-chokidar2");
	return;
} catch(e) {
	v2Err = e;
}

throw new Error(
	"No version of chokidar is available. Tried c

[2020-10-23 16:13] akunal1 commented on #196
Have you modified inside node_module ?

[2020-10-23 16:29] amarshahaji commented on #196
yes because this is dev dependency for windows user and not found for mac user

[2021-02-13 09:06] bryantobing12 commented on #196
face the same issue here. is there anyone knows how to solve this problem?

[2021-03-13 20:07] jeffwilcox commented on #196
Hopefully this pull request is accepted at some point in `watchpack`... https://github.com/webpack/watchpack/pull/177

[2021-06-17 15:06] sunilhari9 commented on #196
Same for me any solution for this?

[2021-07-25 06:46] zeeking786 opened #203 "Issue while npm start"
I am getting ``` UnhandledPromiseRejectionWarning``` -
![Screenshot (13)](https://user-images.githubusercontent.com/61353037/126890305-d742fdbe-a314-481a-a852-78b42f808029.png)

I need solution for this in windows , so please help me !!!

Node version - v14.17.3
Npm version - 6.14.13
Advance thanks👍

[2021-08-11 18:24] systems-shyran opened #204 "reactpwa.com - host access Error 520"
Hi,  it loks like reactpwa.com throws Error 520, at least as of today...

[2021-08-12 05:20] tirthbodawala commented on #204
I will check this out today at highest priority.

On Wed, Aug 11, 2021 at 11:54 PM Shyran Systems ***@***.***>
wrote:

--
Tirth Bodawala
*Founder*
*Atyantik Technologies*
w: www.atyantik.com  e: ***@***.***

[2021-09-08 05:51] tirthbodawala commented on #204
@systems-shyran, apologies for the late reply, busy with many projects. the code for `add_header X-Content-Type-Options: nosniff; ` was not responding properly to Cloudflare's caching mechanism. We have solved it now.

[2021-09-08 05:51] #204 closed

[2021-09-08 05:53] tirthbodawala commented on #203
@zeeking786 We have solved the issue, can you please try with latest code base?

[2021-09-08 05:53] #203 closed

[2021-09-08 05:54] tirthbodawala commented on #196
I have upgraded the required packages, but with lack of windows system, I am not able to reproduce the issue, Also, I have added code to give priority to Chokidar v3 rather than v2 that solves the issues, please let me know if the issue persists.

[2021-09-08 05:54] #196 closed

[2021-09-08 05:55] tirthbodawala commented on #195
closing due to inactivity, please re-open if the issue persists.

[2021-09-08 05:55] #195 closed

[2021-09-08 05:55] tirthbodawala commented on #193
@4LostGreyWolf please use the latest code base to fix the issue.

[2021-09-08 05:55] #193 closed

[2021-09-08 05:56] tirthbodawala commented on #181
Please use NodeJS > 12.x to solve the above issue.

[2021-09-08 05:56] #181 closed

[2021-09-08 05:57] tirthbodawala commented on #187
@desaikalpesh34 @vassilux  @michalko, I know this is late by 1 year, my hearty apologies, with upgrades of packages we have solve this issue, Please use latest code to reflect the changes.

[2021-09-08 05:57] #187 closed

[2021-09-08 05:57] tirthbodawala commented on #171
Closing due to inactivity.

[2021-09-08 05:57] #171 closed

[2021-09-08 05:58] tirthbodawala commented on #180
Closing due to inactivity.

[2021-09-08 05:58] #180 closed

[2021-09-08 05:58] #36 closed

[2021-09-08 05:58] #74 closed

[2021-09-08 05:58] #100 closed

[2021-09-08 05:58] #107 closed

[2021-09-08 05:58] #115 closed

[2021-09-08 05:58] #117 closed

[2021-09-08 05:58] #125 closed

[2021-09-08 05:58] #126 closed

[2021-09-08 05:58] #129 closed

[2021-09-08 05:58] #141 closed

[2021-09-08 05:58] #142 closed

[2021-09-08 05:58] #145 closed

[2021-09-08 05:58] #169 closed

[2021-09-08 05:58] #175 closed

[2021-11-06 12:51] simo54 opened #207 "chokidar.js 'return' outside of function"
I was trying to install and run the [boilerplate](https://github.com/Atyantik/react-pwa.git) using `yarn` but I got the following error when I launched the start script
[code]
This is my package.json
[code]
Is there any missing configuration that I skipped?

[2021-11-10 01:41] 946629031 commented on #196
try this way, it seem like slove my problem

Obviously, we don't have any interest in waiting for people to 'fix' libraries that return at global scope, so using Jest means I need a way to ignore those.

Here's what I ended up doing:

1.Add a "jest" configuration to file package.json:
[code]
2.Then in the root directory for the project I created file .jest.transform.js and placed this bit to tell

[2021-11-19 11:57] VijiHithub opened #208 "How To Build APK File For Android & IOS ?"
Hi Team ,

I Have Clone This Code and Run Successfully.

But I don't know how to build APK Files.

Kindly share the process ASAP.

Thanks in Advance !!!

[2021-12-10 15:45] mnakka9 commented on #208
https://www.pwabuilder.com/

https://amlanscloud.com/reactnativepwa/ --- instructions are here, search for Test for PWA and you will find info on how to get APK and submit it to play store

[2021-12-16 18:29] sheikh67 opened #209 "Getting CSS problem on windows 10 OS"
[BABEL] Note: The code generator has deoptimised the styling of "path to node_module/*/*.js" as it exceeds the max of 500KB

[2022-01-24 16:40] tirthbodawala commented on #209
@sheikh67 that is fine. No need to worry about it.

[2022-01-24 16:40] #209 closed

[2022-01-24 16:40] #208 closed

[2022-04-13 09:27] deepaksawant321 commented on #207
Remove **chokidar.js** from **node_modules\watchpack\lib\**

[2022-04-18 09:02] tirthbodawala commented on #207
@deepaksawant321 @simo54 This has been solved for windows in the latest build 2.2.14.

[2022-04-18 09:02] #207 closed

[2022-04-21 13:46] salescnet commented on #181
Still facing the same issue..

[2022-04-21 13:50] tirthbodawala commented on #181
Please share the node version

[2022-04-21 14:01] salescnet commented on #181
problem resolved.

[2022-04-21 14:02] salescnet commented on #181
problem resolved on linux.

[2022-04-21 14:02] salescnet commented on #181
problem resolved on linux.

[2022-04-21 14:02] salescnet commented on #181
problem resolved.

[2022-04-21 14:55] salescnet commented on #181
Jus install npm i @pawjs/pawjs

[2022-11-09 14:53] Abhishek1792 opened #222 "There is not sufficient document to start project"

[2022-11-09 15:49] tirthbodawala commented on #222
Apologies Abhishek, I am working on it. Please allow me couple of days to
get it up.

On Wed, Nov 9, 2022 at 8:23 PM Abhishek1792 ***@***.***>
wrote:

--
Tirth Bodawala
Co-Founder
[image: Atyantik Technologies]  +917600540105
[image: Atyantik Technologies] <https://www.atyantik.com/>

www.atyantik.com
[image: linkedin]
<https://www.linkedin.com/company/atyantik-technologies> [image:
facebook] <htt

[2022-11-26 10:01] Bijiabo commented on #222
this project is broken

[2022-11-26 10:45] tirthbodawala commented on #222
@Bijiabo @Abhishek1792 I have created and updated https://github.com/Atyantik/react-pwa-boilerplate for most simple boilerplate of the project. Please clone and run the same with
[code]

That should help. I am almost done with documentation, just working on Async Head Resolution for usage with suspense, before launching a beta version for Streaming support.